
{% extends 'base.html.twig' %}

{% block title %}Hello SiteRegisterController!{% endblock %}

{% block body %}
    <div>
        {{ form_start(form) }}

        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName) }}

        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName) }}

        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName) }}

        {{ form_label(form.sex) }}
        {{ form_widget(form.sex) }}

        {{ form_label(form.birthDate) }}
        {{ form_widget(form.birthDate) }}

        {{ form_label(form.zipCode) }}
        {{ form_widget(form.zipCode) }}

        {{ form_label(form.address) }}
        {{ form_widget(form.address) }}

        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}

        {{ form_label(form.city) }}
        {{ form_widget(form.city) }}

        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}

        {{ form_widget(form.valid) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
