{% extends 'base.html.twig' %}

{% block title %}Hello SiteRegisterController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block body %}
    <div class="d-md-flex h-md-100 align-items-center">
        <!-- First Half -->
        <div class="col-md-7 p-0 bg-gym h-md-100">
            <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
                <div class="pt-5 pb-5">
                    <h1 class="text-black">CEP</h1>
                    <p class="text-black">Gymnastique</p>
                </div>
            </div>
        </div>

        <!-- Second Half -->
        <div class="col-md-5 p-0 bg-white h-md-100">
            <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <h1>Inscription</h1>
                    </div>
                    <hr class="d-md-flex align-items-center" color="green">
                    <div class="justify-content-center">
                        {{ form_start(form) }}

                        <div class="row mt-3">
                            <div class="col-md-5 col-sm-3">
                                <label>Prénom : </label>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.firstName) }}
                            </div>
                            <div class="row ml-3">
                                {{ form_errors(form.firstName) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-5 col-sm-3">
                                <label>Nom : </label>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.lastName) }}
                            </div>
                            <div class="row ml-3">
                                {{ form_errors(form.lastName) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-5 col-sm-3">
                                <label>Civilité : </label>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.sex) }}
                            </div>
                            <div class="row ml-3">
                                {{ form_errors(form.sex) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-5 col-sm-3">
                                <label>Date de naissance : </label>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.birthDate) }}
                            </div>
                            <div class="row ml-3">
                                {{ form_errors(form.birthDate) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-5 col-sm-3">
                                <label>Adresse : </label>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.address) }}
                            </div>
                            <div class="row ml-3">
                                {{ form_errors(form.address) }}
                            </div>
                        </div>
                        <div class="row mt-3">
                        <div class="col-md-5 col-sm-3">
                            <label>Code postal : </label>
                        </div>
                        <div class="col-auto">
                            {{ form_widget(form.zipCode) }}
                        </div>
                        <div class="row ml-3">
                            {{ form_errors(form.zipCode) }}
                        </div>
                    </div>

                        <div class="row mt-3">
                            <div class="col-2">
                                <p>Ville :</p>
                            </div>
                            <div class="col-auto">
                                <select id="account_city" name="account_city" class="form-control">
                                </select>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-5 col-sm-3">
                                <label>Ville : </label>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.city) }}
                            </div>
                            <div class="row ml-3">
                                {{ form_errors(form.city) }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5 col-sm-3">
                                <label>Adresse mail : </label>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="row ml-3">
                                {{ form_errors(form.email) }}
                            </div>
                            {% if errorMail %}
                                <div class="row ml-3">
                                <span class="invalid-feedback d-block">
                                    <span class="d-block">
                                        <span class="form-error-icon badge badge-danger text-uppercase">{{ 'Erreur' }}</span>
                                        <span class="form-error-message">{{ errorMail }}</span>
                                    </span>
                                </span>
                                </div>
                            {% endif %}
                        </div>

                        <div class="row mt-3 mb-3">
                            <div class="col-md-5 col-sm-3">
                                <label>Mot de passe : </label>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.password, {'attr': {'data-placement': "bottom"}}) }}
                            </div>
                            <div class="row ml-3">
                                {{ form_errors(form.password) }}
                            </div>
                        </div>

                        {{ form_widget(form.valid) }}

                        <input type="hidden" name="recaptcha_response" id="recaptchaResponse">

                        {{ form_end(form) }}
                        <div class="row mt-3 ml-1">
                            <p>Vous avez déjà un compte ? <a href="{{ path('security_connexion') }}">Connexion</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




{% block javascripts %}
    {{ encore_entry_script_tags('account') }}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_key_site }}"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('{{ recaptcha_key_site }}', {action: 'register'}).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
{% endblock %}
