{% extends 'base_without_navbar.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="d-md-flex h-md-100 align-items-center">
        <!-- First Half -->
        <div class="col-md-7 p-0 bg-gym h-md-100">
            <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
                <div class="pt-5 pb-5">
                    <h1 class="text-black">CEP</h1>
                    <p class="text-black">Gymnastique</p>
                </div>
            </div>
        </div>

        <!-- Second Half -->
        <div class="col-md-5 p-0 bg-white h-md-100">
            <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <h1>Connexion</h1>
                    </div>
                    <hr class="d-md-flex align-items-center" color="green">
                    <div class="justify-content-center">
                        <form action="{{ path('security_connexion') }}" method="post">

                            <!-- Login form -->
                            <label for="inputEmail" class="sr-only">Adresse mail : </label>
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email"
                                   required autofocus>
                            <label for="inputPassword" class="sr-only">Mot de passe : </label>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   placeholder="mot de passe"
                                   required>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <button class="btn btn-primary" type="submit">Connexion</button>
                        </form>
                        {% if errors %}
                            <div class="row justify-content-center mt-2">
                                <small class="form-text"><span
                                            class="badge badge-danger">Erreur</span>{{ errors.messageKey|trans(errors.messageData, 'security') }}
                                </small>
                            </div>
                        {% endif %}

                        {% if msg is defined %}
                            <div class="row justify-content-center mt-2">
                                <small class="form-text"><span
                                            class="badge badge-danger">Erreur</span> {{ msg }}</small>
                            </div>
                        {% endif %}
                        <div class="row justify-content-center mt-2">
                            <p>Vous n'avez pas encore de compte ? <a href="{{ path('account_add') }}">Inscrivez-vous
                                    !</a>
                            </p>
                        </div>

                        <!-- Forgot password form -->
                        <div class=" row justify-content-between align-items-center pl-3 pr-3">
                            <a data-toggle="collapse" href="#collapseId" role="button" aria-expanded="false"
                               aria-controls="collapseId">Mot
                                de passe oublié ?</a>
                        </div>
                        <div class="collapse" id="collapseId">
                            <form class="form-inline" action="{{ path('account_forgot_password') }}" method="post">
                                <input class="form-control" type="email" name="email" placeholder="Email" required>
                                <input class="btn btn-success" type="submit" value="Envoyer">
                                <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LeVY6MUAAAAAKrw5BFZm7ENY8ozD0KfjMSqDeVV"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LeVY6MUAAAAAKrw5BFZm7ENY8ozD0KfjMSqDeVV', {action: 'forgot'}).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
{% endblock %}
