{% extends 'base_without_navbar.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="d-md-flex h-md-100 align-items-center">
        <!-- First Half -->
        <div class="col-md-6 p-0 bg-gym h-md-100">
            <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
                <div class="pt-5 pb-5">
                    <h1 class="text-black">CEP</h1>
                    <p class="text-black">Poitiers Gymnastique</p>
                </div>
            </div>
        </div>

        <!-- Second Half -->
        <div class="col-md-6 p-0 bg-white h-md-100">
            <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <h1>Connexion</h1>
                    </div>
                    <hr class="d-md-flex align-items-center" color="green">
                    <div class="justify-content-center ">
                        <div class="collapse show" id="collapseId">
                            <form action="{{ path('security_connexion') }}" method="post">
                                <div class="container-fluid">
                                    {% if errors %}
                                        <div class="row justify-content-center">
                                            <span class="invalid-feedback d-block">
                                                <span class="d-block">
                                                    <span class="form-error-icon badge badge-danger text-uppercase">{{ 'Erreur' }}</span>
                                                    <span class="form-error-message">{{ errors.messageKey|trans(errors.messageData, 'security') }}</span>
                                                </span>
                                            </span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="container-fluid pt-2">
                                    <div class="row">
                                        <input type="email" name="email" id="inputEmail" class="form-control"
                                               placeholder="Adresse mail"
                                               required autofocus>
                                    </div>
                                </div>
                                <div class="container-fluid mt-3">
                                    <div class="row">
                                        <input type="password" name="password" id="inputPassword" class="form-control"
                                               placeholder="Mot de passe"
                                               required>
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div class="container-fluid mt-3">
                                    <div class="row justify-content-center">
                                        <button class="btn btn-success btn-block" type="submit">Connexion</button>
                                    </div>
                                </div>

                            </form>

                        </div>

                        <div class="container pt-3">
                            <div class="row justify-content-center align-items-center">
                                <a data-toggle="collapse" href="#collapseId" role="button" aria-expanded="false"
                                   aria-controls="collapseId">Mot
                                    de passe oublié ?</a>
                            </div>
                        </div>

                        <div class="collapse" id="collapseId">
                            <div class="container-fluid pt-3">
                                <form action="{{ path('account_forgot_password') }}" method="post">
                                    <div class="row p-0">
                                        <div class="col-9 p-0">
                                            <input class="form-control" type="email" name="email"
                                                   placeholder="Adresse mail de récupération" required>
                                        </div>
                                        <div class="col-3 p-0">
                                            <input class="btn btn-primary btn-block" type="submit" value="Envoyer">
                                        </div>
                                        <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="container-fluid pt-3">
                            <div class="row justify-content-center">
                                <p>Vous n'avez pas encore de compte ? <a href="{{ path('account_add') }}">Créez votre
                                        compte
                                        !</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_key_site }}"></script>

    <!-- Recaptcha for the forgot password form -->
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('{{ recaptcha_key_site }}', {action: 'forgot'}).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>

{% endblock %}
