{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription !{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div id="group">
        <div id="step1">
            <div class="container mt-3">
                <div class="form-group pb-3">
                    <div class="container-fluid">
                        <h4>Type de demande : </h4>
                        <div class="row justify-content-md-center">
                            {{ form_widget(form.registrationType, { 'id': 'registrationType' }) }}
                        </div>
                        <div class="row ml-1">
                            <small id="registrationTypeHelp" class="form-text helper"><span class="badge badge-danger">Erreur</span>
                                Il faut séléctionner un choix parmi la liste.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-4">
                <div class="form-group pb-3">
                    <div class="container-fluid">
                        <h4>Informations générales : </h4>
                        <div class="row">
                            <div class="col-6">
                                {{ form_widget(form.firstName, {'attr': {'placeholder': "Prenom..."}, 'id': 'firstName'}) }}
                            </div>
                        </div>
                        <div class="row ml-1">
                            {{ form_errors(form.firstName) }}
                            <small id="firstNameTypeHelp" class="form-text helper"><span
                                        class="badge badge-danger">Erreur</span> Le prénom doit être rempli.
                            </small>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                {{ form_widget(form.lastName, {'attr': {'placeholder': "Nom de famille..."}, 'id': 'lastName'}) }}
                            </div>
                        </div>
                        <div class="row ml-1">
                            <small id="lastNameTypeHelp" class="form-text helper"><span
                                        class="badge badge-danger">Erreur</span> Le nom de famille doit être rempli.
                            </small>
                            {{ form_errors(form.lastName) }}
                        </div>
                        <div class="row mt-3">
                            <div class="ml-3">
                                <p>Date de naissance : </p>
                            </div>
                            <div class="col-6">
                                {{ form_widget(form.birthDate, {'id': 'birthDate'}) }}
                                {{ form_errors(form.birthDate) }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="ml-3">
                                <p>Genre : </p>
                            </div>
                            <div class="col-6">
                                {{ form_widget(form.sex, {'id': 'sex'}) }}
                            </div>
                        </div>
                        <div class="row ml-1">
                            <small id="sexTypeHelp" class="form-text helper"><span
                                        class="badge badge-danger">Erreur</span>
                                Il faut séléctionner un choix parmi la liste.
                            </small>
                            {{ form_errors(form.sex) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="step2">
            <div class="container mt-3">
                <div class="form-group pb-2">
                    <div class="container-fluid">
                        <h4>Type d'inscription (pas obligatoire) :</h4>
                        <div class="row justify-content-around align-items-center">
                            <div class="col-4">
                                <input type="checkbox" id="juge" name="juge">
                                <label for="juge">Juge</label>
                            </div>
                            <div class="col-4">
                                <input type="checkbox" id="volontaire" name="volontaire" onchange="doalert2(this)">
                                <label for="volontaire">Volontaire</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid mt-3">
                <div id="judgeDiv" class="form-group pb-2">
                    <div class="container-fluid">
                        <h5>Juges :</h5>
                        <p>Si vous êtes juges et si vous souhaitez juger pour le CEP cette année, merci de cocher les
                            cases
                            ci-dessous</p>
                        <div class="row justify-content-start align-items-center mt-3">
                            <div class="col-2">
                                {{ form_widget(form.isGAFJudge) }}
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.GAFJudgeLevel, {'attr': {'placeholder':"Niveau"}}) }}
                            </div>
                        </div>
                        <div class="row justify-content-start align-items-center mt-3">
                            <div class="col-2">
                                {{ form_widget(form.isGAMJudge) }}
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.GAMJudgeLevel, {'attr': {'placeholder':"Niveau"}}) }}
                            </div>
                        </div>
                        <div class="row justify-content-start align-items-center mt-3">
                            <div class="col-2">
                                {{ form_widget(form.isTeamGYMJudge) }}
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.teamGYMJudgeLevel, {'attr': {'placeholder':"Niveau"}}) }}
                            </div>
                        </div>
                        <div class="row justify-content-start align-items-center mt-3">
                            <div class="col-auto">
                                <p>Souhaitez-vous suivre une formation juge ?</p>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.wantsAJudgeTraining) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid mt-3">
                <div id="volunteerDiv" class="form-group pb-2">
                    <div class="container-fluid">
                        <h5>Volontaires :</h5>
                        <p>Si vous souhaitez nous aider sur les activités et les actions mises en place par le club tout
                            au long
                            de l’année, merci de cocher les cases ci-dessous :</p>
                        <div>
                            Aide à l'entrainement :
                            {{ form_widget(form.volunteerForTrainingHelp) }}
                        </div>
                        <div>
                            Aide à la vie du club :
                            {{ form_widget(form.volunteerForClubLife) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="step3">
            <div class="container-fluid mt-3">
                <div class="form-group pb-2">
                    <div class="container-fluid">
                        <h4>Membre ou représentant légal 1 pour les mineurs : </h4>
                        <div class="row mt-2">
                            <div class="col">
                                {{ form_widget(form.firstNameRep1, {'attr': {'placeholder':"Prenom"}}) }}
                                <small id="firstNameRep1Help" class="form-text helper"><span class="badge badge-danger">Erreur</span>
                                    Le prenom doit être rempli.
                                </small>
                                {{ form_errors(form.firstNameRep1) }}
                            </div>
                            <div class="col">
                                {{ form_widget(form.lastNameRep1, {'attr': {'placeholder':"Nom de famille"}}) }}
                                <small id="lastNameRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le nom de famille doit être rempli.
                                </small>
                            </div>
                            <div class="col">
                                {{ form_widget(form.emailRep1, {'attr': {'placeholder':"Email"}}) }}
                                <small id="emailRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> L'email doit être rempli.
                                </small>
                            </div>
                            <div class="col">
                                {{ form_widget(form.professionRep1, {'attr': {'placeholder':"Profession"}}) }}
                                <small id="professionRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> La profession doit être rempli.
                                </small>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                {{ form_widget(form.cityRep1, {'attr': {'placeholder':"Ville"}}) }}
                                <small id="cityRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> La ville doit être rempli doit être
                                    rempli.
                                </small>
                            </div>
                            <div class="col">
                                {{ form_widget(form.addressRep1, {'attr': {'placeholder':"Adresse"}}) }}
                                <small id="addressRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> L'adresse doit être rempli doit
                                    être
                                    rempli.
                                </small>
                            </div>
                            <div class="col">
                                {{ form_widget(form.zipCodeRep1, {'attr': {'placeholder':"Code postal"}}) }}
                                <small id="zipCodeRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le code postal doit être rempli
                                    doit être
                                    rempli.
                                </small>
                            </div>
                            <div class="col">
                                {{ form_widget(form.phoneRep1, {'attr': {'placeholder':"Numéro de telephone"}}) }}
                                <small id="phoneRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le numéro de téléphone doit être
                                    rempli doit
                                    être rempli.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid mt-3">
                <div class="form-group pb-2">
                    <div class="container-fluid">
                        <h4>Membre ou représentant légal 2 (pas obligatoire) : </h4>
                        <div class="row mt-2">
                            <div class="col">
                                {{ form_widget(form.firstNameRep2, {'attr': {'placeholder':"Prenom"}}) }}
                                <small id="firstNameRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le prenom doit être rempli.
                                </small>
                            </div>
                            <div class="col">
                                {{ form_widget(form.lastNameRep2, {'attr': {'placeholder':"Nom de famille"}}) }}
                                <small id="lastNameRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le nom de famille doit être rempli.
                                </small>
                            </div>
                            <div class="col">
                                {{ form_widget(form.emailRep2, {'attr': {'placeholder':"Email"}}) }}
                                <small id="emailRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> L'email doit être rempli.
                                </small>
                            </div>
                            <div class="col">
                                {{ form_widget(form.professionRep2, {'attr': {'placeholder':"Profession"}}) }}
                                <small id="professionRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> La profession doit être rempli.
                                </small>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                {{ form_widget(form.cityRep2, {'attr': {'placeholder':"Ville"}}) }}
                                <small id="cityRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> La ville doit être rempli doit être
                                    rempli.
                                </small>
                            </div>
                            <div class="col">
                                {{ form_widget(form.addressRep2, {'attr': {'placeholder':"Adresse"}}) }}
                                <small id="addressRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> L'adresse doit être rempli doit
                                    être
                                    rempli.
                                </small>
                            </div>
                            <div class="col">
                                {{ form_widget(form.zipCodeRep2, {'attr': {'placeholder':"Code postal"}}) }}
                                <small id="zipCodeRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le code postal doit être rempli
                                    doit
                                    être rempli.
                                </small>
                            </div>
                            <div class="col">
                                {{ form_widget(form.phoneRep2, {'attr': {'placeholder':"Numéro de telephone"}}) }}
                                <small id="phoneRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le numéro de téléphone doit être
                                    rempli
                                    doit être rempli.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="step4">
            <div class="container-fluid mt-3">
                <div class="form-group pb-2">
                    <div class="container-fluid">
                        <h4>Activités disponibles :</h4>
                        <div class="row">
                            <table class="table m-2 text-center">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Créneaux</th>
                                    <th>Prix</th>
                                    <th>Date</th>
                                    <th>Selection</th>
                                </tr>
                                </thead>

                                {% for activity in activities %}
                                    <tbody>
                                    <tr id={{ activity.id }}>
                                        <td>{{ activity.name }}</td>
                                        <td>Samedi - De 10h à 12h</td>
                                        <td id="price{{ activity.id }}">{{ activity.price }}</td>
                                        <td>{{ activity.startDate|date('d/m/y') }}</td>
                                        <td>
                                            <input type="checkbox" id="checkbox{{ activity.id }}" name="selection"
                                                   value="{{ activity.id }}">
                                        </td>
                                    </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="step5">
            <div class="container-fluid mt-3">
                <div class="form-group pb-2">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <h4>Prix de l'abonnement : </h4>
                            </div>
                            <div class="col-auto">
                                <h4 id="prix">0</h4>
                            </div>
                            <h4>€</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-3">
                <div class="form-group pt-2 pb-2">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <h4>Moyens de paiement : </h4>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.paymentType) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-3">
                <div class="form-group pt-2 pb-2">
                    <div class="container-fluid">
                        <h4>Droits d'image :</h4>
                        <div class="row align-items-center ml-2">
                            <p>{{ form_widget(form.imageRight) }} le club à prendre et à diffuser des photos me
                                concernant pour enrichir
                                la photothèque et le site internet du club.</p>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Confirmer l'inscription de l'adhérent</button>
            </div>

        </div>
    </div>
    {{ form_end(form) }}
    <div class="fixed-bottom mb-5 mr-3 d-flex justify-content-end">
        <button id="previous" type="button" class="btn btn-primary">Précédent</button>
        <button id="next" type="button" class="btn btn-primary">Suivant</button>
        <input id="step" value="1" hidden>
    </div>

{% endblock %}




{% block javascripts %}
    {{ encore_entry_script_tags('registration') }}
{% endblock %}





