{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription !{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'un adhérent</h1>

    {{ form_start(form) }}
    <p>{{ user.firstName }}</p>
    <div id="group">
        <div id="step1">
            <div class="form-group">
                <label for="">Type de renouvellement : </label>
                <div>
                    {{ form_row(form.registrationType, { 'id': 'registrationType' }) }}
                    <small id="registrationTypeHelp" class="form-text helper">Il faut séléctionner un choix parmi la liste.</small>
                </div>

            </div>
            <div class="form-group">
                <label for="">Informations générales : </label>
                <div class="row align-items-center">
                    <div class="col">
                        {{ form_errors(form.firstName) }}
                        {{ form_widget(form.firstName, {'attr': {'placeholder': "Prenom"}, 'id': 'firstName'}) }}
                    </div>
                    <small id="firstNameTypeHelp" class="form-text helper">Le prénom doit être rempli.</small>
                    <div class="col">
                        {{ form_errors(form.lastName) }}
                        {{ form_widget(form.lastName, {'attr': {'placeholder': "Nom de famille"}, 'id': 'lastName'}) }}
                    </div>
                    <small id="lastNameHelp" class="form-text helper">Le nom de famille doit être rempli.</small>
                    <div class="col-6">
                        {{ form_label(form.birthDate, 'Date d\'anniversaire :') }}
                        {{ form_widget(form.birthDate, {'id': 'birthDate'}) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.sex, {'id': 'sex'}) }}
                    </div>
                    <small id="sexHelp" class="form-text helper">Il faut séléctionner un choix parmi la liste.</small>
                </div>
            </div>
        </div>

        <div id="step2">
            <div class="form-group">
                <label for="">Type d'inscription (pas obligatoire) :</label>
                <div>
                    <input type="checkbox" id="juge" name="juge">
                    <label for="juge">Juge</label>
                    <input type="checkbox" id="volontaire" name="volontaire" onchange="doalert2(this)">
                    <label for="volontaire">Volontaire</label>
                </div>
            </div>
            <div id="judgeDiv" class="form-group">
                <h1>Juges</h1>
                <p>Si vous êtes juges et si vous souhaitez juger pour le CEP cette année, merci de cocher les cases
                    ci-dessous</p>
                <div>
                    {{ form_widget(form.isGAFJudge) }} Juge
                    GAF {{ form_widget(form.GAFJudgeLevel, {'attr': {'placeholder':"Niveau"}}) }}
                </div>
                <div>
                    {{ form_widget(form.isGAMJudge) }} Juge
                    GAM {{ form_widget(form.GAMJudgeLevel, {'attr': {'placeholder':"Niveau"}}) }}
                </div>
                <div>
                    {{ form_widget(form.isTeamGYMJudge) }} Juge
                    TEAMGYM {{ form_widget(form.teamGYMJudgeLevel, {'attr': {'placeholder':"Niveau"}}) }}
                </div>
                <div>
                    <p>Souhaitez-vous suivre une formation juge ? {{ form_widget(form.wantsAJudgeTraining) }} </p>
                </div>
            </div>
            <div id="volunteerDiv">
                <h1>Volontaires</h1>
                <p>Si vous souhaitez nous aider sur les activités et les actions mises en place par le club tout au long
                    de l’année, merci de cocher les cases ci-dessous :</p>
                <div>
                    Aide à l'entrainement {{ form_widget(form.volunteerForTrainingHelp) }}
                </div>
                <div>
                    Aide à la vie du club {{ form_widget(form.volunteerForClubLife) }}
                </div>
            </div>
        </div>
        <div id="step3">
            <div class="form-group">
                <h4>Membre ou représentant légal 1 pour le mineurs</h4>
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.firstNameRep1, {'attr': {'placeholder':"Prenom"}}) }}
                        <small id="firstNameRep1Help" class="form-text helper">Le prenom doit être rempli.</small>
                    </div>
                    <div class="col">
                        {{ form_widget(form.lastNameRep1, {'attr': {'placeholder':"Nom de famille"}}) }}
                        <small id="lastNameRep1Help" class="form-text helper">Le nom de famille doit être rempli.</small>
                    </div>
                    <div class="col">
                        {{ form_widget(form.emailRep1, {'attr': {'placeholder':"Email"}}) }}
                        <small id="emailRep1Help" class="form-text helper">L'email doit être rempli.</small>
                    </div>
                    <div class="col">
                        {{ form_widget(form.professionRep1, {'attr': {'placeholder':"Profession"}}) }}
                        <small id="professionRep1Help" class="form-text helper">La profession doit être rempli.</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.cityRep1, {'attr': {'placeholder':"Ville"}}) }}
                        <small id="cityRep1Help" class="form-text helper">La ville doit être rempli doit être rempli.</small>
                    </div>
                    <div class="col">
                        {{ form_widget(form.addressRep1, {'attr': {'placeholder':"Adresse"}}) }}
                        <small id="addressRep1Help" class="form-text helper">L'adresse doit être rempli doit être rempli.</small>
                    </div>
                    <div class="col">
                        {{ form_widget(form.zipCodeRep1, {'attr': {'placeholder':"Code postal"}}) }}
                        <small id="zipCodeRep1Help" class="form-text helper">Le code postal doit être rempli doit être rempli.</small>
                    </div>
                    <div class="col">
                        {{ form_widget(form.phoneRep1, {'attr': {'placeholder':"Numéro de telephone"}}) }}
                        <small id="phoneRep1Help" class="form-text helper">Le numéro de téléphone doit être rempli doit être rempli.</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h4>Membre ou représentant légal 2</h4>
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.firstNameRep2, {'attr': {'placeholder':"Prenom"}}) }}
                        <small id="firstNameRep2Help" class="form-text helper">Le prenom doit être rempli.</small>
                    </div>
                    <div class="col">
                        {{ form_widget(form.lastNameRep2, {'attr': {'placeholder':"Nom de famille"}}) }}
                        <small id="lastNameRep2Help" class="form-text helper">Le nom de famille doit être rempli.</small>
                    </div>
                    <div class="col">
                        {{ form_widget(form.emailRep2, {'attr': {'placeholder':"Email"}}) }}
                        <small id="emailRep2Help" class="form-text helper">L'email doit être rempli.</small>
                    </div>
                    <div class="col">
                        {{ form_widget(form.professionRep2, {'attr': {'placeholder':"Profession"}}) }}
                        <small id="professionRep2Help" class="form-text helper">La profession doit être rempli.</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.cityRep2, {'attr': {'placeholder':"Ville"}}) }}
                        <small id="cityRep2Help" class="form-text helper">La ville doit être rempli doit être rempli.</small>
                    </div>
                    <div class="col">
                        {{ form_widget(form.addressRep2, {'attr': {'placeholder':"Adresse"}}) }}
                        <small id="addressRep2Help" class="form-text helper">L'adresse doit être rempli doit être rempli.</small>
                    </div>
                    <div class="col">
                        {{ form_widget(form.zipCodeRep2, {'attr': {'placeholder':"Code postal"}}) }}
                        <small id="zipCodeRep2Help" class="form-text helper">Le code postal doit être rempli doit être rempli.</small>
                    </div>
                    <div class="col">
                        {{ form_widget(form.phoneRep2, {'attr': {'placeholder':"Numéro de telephone"}}) }}
                        <small id="phoneRep2Help" class="form-text helper">Le numéro de téléphone doit être rempli doit être rempli.</small>
                    </div>

                </div>
            </div>
        </div>
        <div id="step4">
            <h4>Activités disponibles :</h4>
            <div class="row">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Créneaux</th>
                        <th>Prix</th>
                        <th>Date</th>
                        <th>Selection</th>
                    </tr>
                    </thead>

                {% for activity in activities %}
                    <tbody>
                    <tr id={{ activity.id }}>
                        <td>{{ activity.name }}</td>
                        <td>Samedi - De 10h à 12h</td>
                        <td id="price{{ activity.id }}">{{ activity.price }}</td>
                        <td>{{ activity.startDate|date('d/m/y') }}</td>
                        <td>
                            <input type="checkbox" id="checkbox{{ activity.id }}" name="selection" value="{{ activity.id }}">
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
                </table>
            </div>
        </div>
        <div id="step5">
            <p id="test1">Prix de l'abonnement : <p id="test">0</p></p>
            Moyen de paiement : {{ form_widget(form.paymentType) }}
            <div>
                <h5>Droits d'image :</h5>
                <p>{{ form_widget(form.imageRight) }} le club à prendre et à diffuser des photos me concernant pour enrichir
                la photothèque et le site internet du club.</p>
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    </div>
    {{ form_end(form) }}
    <button id="previous" type="button" class="btn btn-primary" value="1">Previous</button>
    <button id="next" type="button" class="btn btn-primary" value="1">Next</button>
{% endblock %}




{% block javascripts %}
    {{ encore_entry_script_tags('registration') }}
{% endblock %}





