{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription !{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="container-fluid">
        <div id="registrationStep1">
            <div class="card shadow-sm">
                <h5 class="card-header">Type de demande : </h5>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                {{ form_widget(form.registrationType) }}
                                <small id="registrationTypeHelp" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span>
                                    Il faut séléctionner un choix parmi la liste.
                                </small>
                                {{ form_errors(form.registrationType) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-sm mt-3">
                <h5 class="card-header">Informations générales : </h5>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row justify-content-around">
                            <div class="col-6">
                                {{ form_widget(form.firstName) }}
                                <small id="firstNameTypeHelp" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le prénom doit être rempli.
                                </small>
                                {{ form_errors(form.firstName) }}
                            </div>
                            <div class="col-6">
                                {{ form_widget(form.lastName) }}
                                <small id="lastNameTypeHelp" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le nom de famille doit être rempli.
                                </small>
                                {{ form_errors(form.lastName) }}
                            </div>
                        </div>
                        <hr/>
                        <div class="row justify-content-around mt-3">
                            <div class="col-auto">
                                Date de naissance : {{ form_widget(form.birthDate) }}
                                {{ form_errors(form.birthDate) }}
                            </div>
                            <div class="col-auto">
                                Genre : {{ form_widget(form.sex) }}
                            </div>
                        </div>
                        <div class="row ml-1">
                            <small id="sexTypeHelp" class="form-text helper"><span
                                        class="badge badge-danger">Erreur</span>
                                Il faut séléctionner un choix parmi la liste.
                            </small>
                            {{ form_errors(form.sex) }}
                        </div>
                        <hr/>
                        <div class="row mt-3 mb-3">
                            <div class="col-auto">
                                <label>Nationalité : </label>
                            </div>
                            <div class="col">
                                {{ form_widget(form.nationality) }}
                                <small id="nationalityHelp" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> La nationalité doit
                                    être
                                    choisie.
                                </small>
                                {{ form_errors(form.nationality) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="registrationStep2">
            <div class="card shadow-sm">
                <h5 class="card-header">Type d'inscription (facultatif) :</h5>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <p>Souhaitez-vous suivre une formation juge ?</p>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.wantsAJudgeTraining) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <p>Voulez-vous participer à l'organisation de l'association en tant que juge et/ou
                                    bénévole
                                    ?</p>
                            </div>
                            <div class="col-auto">
                                <input type="checkbox" id="juge" name="juge">
                                <label for="juge">Juge</label>
                                <input type="checkbox" id="volontaire" name="volontaire">
                                <label for="volontaire">Bénévole</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="judgeDiv" class="card shadow-sm mt-3">
                <h5 class="card-header">Juges :</h5>
                <div class="card-body">
                    <div class="container-fluid">
                        <p>Si vous êtes juges et si vous souhaitez juger pour le CEP cette année, merci de cocher les
                            cases
                            ci-dessous</p>
                        <div class="row justify-content-start align-items-center mt-3">
                            <div class="col-2">
                                {{ form_widget(form.isGAFJudge) }}
                            </div>
                            <div class="col-auto">
                                Niveau :
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.GAFJudgeLevel) }}
                            </div>
                        </div>
                        <div class="row justify-content-start align-items-center mt-3">
                            <div class="col-2">
                                {{ form_widget(form.isGAMJudge) }}
                            </div>
                            <div class="col-auto">
                                Niveau :
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.GAMJudgeLevel) }}
                            </div>
                        </div>
                        <div class="row justify-content-start align-items-center mt-3">
                            <div class="col-2">
                                {{ form_widget(form.isTeamGYMJudge) }}
                            </div>
                            <div class="col-auto">
                                Niveau :
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.teamGYMJudgeLevel) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="volunteerDiv" class="card shadow-sm mt-3">
                <h5 class="card-header">Volontaires :</h5>
                <div class="card-body">
                    <div class="container-fluid">
                        <p>Si vous souhaitez nous aider sur les activités et les actions mises en place
                            par
                            le club tout
                            au long
                            de l’année, merci de cocher les cases ci-dessous :</p>
                        <div>
                            Aide à l'entrainement :
                            {{ form_widget(form.volunteerForTrainingHelp) }}
                        </div>
                        <div>
                            Aide à la vie du club :
                            {{ form_widget(form.volunteerForClubLife) }}
                        </div>
                        <div>
                            Disponibilité :
                            {{ form_widget(form.volunteerComment) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="registrationStep3">
            <div class="card shadow-sm">
                <h5 class="card-header">Membre ou représentant légal 1 pour les mineurs : </h5>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row justify-content-around">
                            <div class="col-6">
                                {{ form_widget(form.firstNameRep1) }}
                                <small id="firstNameRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le prenom doit être rempli.
                                </small>
                                {{ form_errors(form.firstNameRep1) }}
                            </div>
                            <div class="col-6">
                                {{ form_widget(form.lastNameRep1) }}
                                <small id="lastNameRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le nom de famille doit être rempli.
                                </small>
                                {{ form_errors(form.lastNameRep1) }}
                            </div>
                        </div>
                        <hr/>
                        <div class="row align-content-center">
                            <div class="col-auto">
                                <label>Code postal : </label>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.zipCodeRep1) }}
                                <small id="zipCodeRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le zip code doit être
                                    rempli.
                                </small>
                                {{ form_errors(form.zipCodeRep1) }}
                            </div>
                            <div class="col-auto">
                                <p>Ville :</p>
                            </div>
                            <div class="col-auto">
                                <select id="adherent_cityRep1" name="adherent_cityRep1" class="form-control">
                                    {% if cityRep1 is defined and cityRep1 is not null %}
                                        <option value={{ cityRep1 }} selected>{{ cityRep1 }}</option>
                                    {% endif %}
                                </select>
                                <small id="cityRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le zip code doit être
                                    rempli pour
                                    pouvoir choisir la ville.
                                </small>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row mt-3">
                                {{ form_widget(form.addressRep1) }}
                                <small id="addressRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> L'adresse doit être rempli.
                                </small>
                                {{ form_errors(form.addressRep1) }}
                            </div>
                        </div>
                        <hr/>
                        <div class="row align-content-center">
                            <div class="col">
                                {{ form_widget(form.emailRep1) }}
                                <small id="emailRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le zip code doit être
                                    rempli.
                                </small>
                                {{ form_errors(form.emailRep1) }}
                            </div>
                            <div class="col">
                                {{ form_widget(form.phoneRep1) }}
                                <small id="phoneRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le numéro de téléphone doit
                                    être
                                    rempli.
                                </small>
                                {{ form_errors(form.phoneRep1) }}
                            </div>
                            <div class="col">
                                {{ form_widget(form.professionRep1) }}
                                <small id="professionRep1Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le numéro de téléphone doit
                                    être
                                    rempli.
                                </small>
                                {{ form_errors(form.professionRep1) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-sm mt-3">
                <h5 class="card-header">Membre ou représentant légal 2 (facultatif) : </h5>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row justify-content-around">
                            <div class="col-6">
                                {{ form_widget(form.firstNameRep2) }}
                                <small id="firstNameRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le prenom doit être rempli.
                                </small>
                                {{ form_errors(form.firstNameRep2) }}
                            </div>
                            <div class="col-6">
                                {{ form_widget(form.lastNameRep2) }}
                                <small id="lastNameRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le nom de famille doit être rempli.
                                </small>
                                {{ form_errors(form.lastNameRep2) }}
                            </div>
                        </div>
                        <hr/>
                        <div class="row align-content-center">
                            <div class="col-auto">
                                <label>Code postal : </label>
                            </div>
                            <div class="col-auto">
                                {{ form_widget(form.zipCodeRep2) }}
                                <small id="zipCodeRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le zip code doit être
                                    rempli.
                                </small>
                                {{ form_errors(form.zipCodeRep2) }}
                            </div>
                            <div class="col-auto">
                                <p>Ville :</p>
                            </div>
                            <div class="col-auto">
                                <select id="adherent_cityRep2" name="adherent_cityRep2" class="form-control">
                                    {% if cityRep2 is defined and cityRep2 is not null %}
                                        <option value={{ cityRep2 }} selected>{{ cityRep2 }}</option>
                                    {% endif %}
                                </select>
                                <small id="cityRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le zip code doit être
                                    rempli pour
                                    pouvoir choisir la ville.
                                </small>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row mt-3">
                                {{ form_widget(form.addressRep2) }}
                                <small id="addressRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> L'adresse doit être rempli.
                                </small>
                                {{ form_errors(form.addressRep2) }}
                            </div>
                        </div>
                        <hr/>
                        <div class="row align-content-center">
                            <div class="col">
                                {{ form_widget(form.emailRep2) }}
                                <small id="emailRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le zip code doit être
                                    rempli.
                                </small>
                                {{ form_errors(form.emailRep2) }}
                            </div>
                            <div class="col">
                                {{ form_widget(form.phoneRep2) }}
                                <small id="phoneRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le numéro de téléphone doit
                                    être
                                    rempli.
                                </small>
                                {{ form_errors(form.phoneRep2) }}
                            </div>
                            <div class="col">
                                {{ form_widget(form.professionRep2) }}
                                <small id="professionRep2Help" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Le numéro de téléphone doit
                                    être
                                    rempli.
                                </small>
                                {{ form_errors(form.professionRep2) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="registrationStep4">
            <div class="card shadow-sm">
                <h5 class="card-header">Activités disponibles :</h5>
                <div class="card-body">
                    <div class="container-fluid">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-loisirs-tab" href="#nav-loisirs"
                                   data-toggle="tab"
                                   role="tab" aria-controls="nav-loisirs" aria-selected="true">Loisirs</a>
                                <a class="nav-item nav-link" id="nav-competitif-tab" href="#nav-competitif"
                                   data-toggle="tab"
                                   role="tab" aria-controls="nav-competitif" aria-selected="false">Compétitif</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-loisirs" role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <table id="activitiesSecteurLoisir"
                                       class="table table-bordered table-striped table-responsive-lg"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Créneaux</th>
                                        <th>Categorie</th>
                                        <th>Prix</th>
                                        <th>Date</th>
                                        <th>Selection</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for activity in activities %}
                                        {% if activity.type == "SECTEUR LOISIRS" %}
                                            <tr id={{ activity.id }}>
                                                <td>{{ activity.name }}</td>
                                                <td>
                                                    {% for creneaux in activity.timeSlot %}
                                                        <b>{{ days[creneaux.day] }}</b> de {{ creneaux.startTime|date('h\\hi') }}/{{ creneaux.endTime|date('h\\hi') }}
                                                        {% if creneaux.city is not null %}
                                                            à {{ creneaux.city }}
                                                        {% endif %}
                                                        <br/>
                                                    {% endfor %}
                                                </td>
                                                <td>{{ activity.category.name }}</td>
                                                <td id="price{{ activity.id }}">{{ activity.price }}</td>
                                                <td>{{ activity.startDate|date('d/m/y') }}</td>
                                                <td>
                                                    <input type="checkbox" id="checkbox{{ activity.id }}"
                                                           name="selection"
                                                           value="{{ activity.id }}">
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-competitif" role="tabpanel"
                                 aria-labelledby="nav-competitif-tab">
                                <table id="activitiesSecteurCompetitif" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Créneaux</th>
                                        <th>Prix</th>
                                        <th>Date</th>
                                        <th>Selection</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for activity in activities %}
                                        {% if activity.type == "SECTEUR COMPETITIF" %}
                                            <tr id={{ activity.id }}>
                                                <td>{{ activity.category.id }}</td>
                                                <td>
                                                    {% for creneaux in activity.timeSlot %}
                                                        <b>{{ days[creneaux.day] }}</b> de {{ creneaux.startTime|date('h\\hi') }}/{{ creneaux.endTime|date('h\\hi') }}
                                                        {% if creneaux.city is not null %}
                                                            à {{ creneaux.city }}
                                                        {% endif %}
                                                        <br/>
                                                    {% endfor %}
                                                </td>
                                                <td>{{ activity.category.name }}</td>
                                                <td id="price{{ activity.id }}">{{ activity.price }}</td>
                                                <td>{{ activity.startDate|date('d/m/y') }}</td>
                                                <td>
                                                    <input type="checkbox" id="checkbox{{ activity.id }}"
                                                           name="selection"
                                                           value="{{ activity.id }}">
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="registrationStep5">
            <div class="container-fluid mt-3">
                <div class="card shadow-sm">
                    <h5 class="card-header">Abonnement :</h5>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <h6>Prix de l'abonnement : </h6>
                                </div>
                                <div class="col-auto">
                                    <h4 id="prix">0</h4>
                                </div>
                                <h4>€</h4>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <h6>Moyens de paiement : </h6>
                                </div>
                                <div class="col-auto">
                                    {{ form_widget(form.paymentType) }}
                                    <small id="paymentTypeHelp" class="form-text helper"><span
                                                class="badge badge-danger">Erreur</span> Vous devez choisir parmi les
                                        deux propositions.
                                    </small>
                                    {{ form_errors(form.paymentType) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-3">
                <div class="card shadow-sm">
                    <h5 class="card-header">Documents à fournir :</h5>
                    <div class="card-body">
                        <div class="container-fluid">
                            <h6>Certificat medical : </h6>
                            <div class="row align-items-center ml-2 mr-2">
                                <div class="col-5">
                                    {{ form_widget(form.medicalCertificate) }}
                                    {{ form_errors(form.medicalCertificate) }}
                                </div>
                                <a><i class="fa fa-info-circle" data-toggle="tooltip"
                                      data-original-title="Le certificat médical peut être rendu plus tard."></i></a>
                            </div>
                            <h6>Bulletin N2 allianz : </h6>
                            <div class="row align-items-center ml-2 mr-2">
                                <div class="col-5">
                                    {{ form_widget(form.bulletinN2Allianz) }}
                                    {{ form_errors(form.bulletinN2Allianz) }}
                                </div>
                                <a><i class="fa fa-info-circle" data-toggle="tooltip"
                                      data-original-title="Le bulletin peut être rendu plus tard."></i></a>

                            </div>
                            <h6>Questionnaire de santé : </h6>
                            <div class="row align-items-center ml-2 mr-2 healthQuestionnaireEmpty">
                                <div class="col-11 col-sm-8 col-md-8 col-lg-8">
                                    {{ form_widget(form.healthQuestionnaireFile) }}
                                    {{ form_errors(form.healthQuestionnaireFile) }}
                                </div>
                                <a><i class="fa fa-info-circle" data-toggle="tooltip"
                                      data-original-title="Le questionnaire de santé peut être rendu plus tard."></i></a>
                                <div class="col-auto">
                                    <button id="healthQuestionnaire" type="button" class="btn btn-primary">
                                        Répondre au questionnaire
                                    </button>
                                </div>
                            </div>
                            <div class="healthQuestionnaireValidated">
                                <div class="row align-items-center ml-2 mr-2">
                                    <div class="col-5">
                                        <p>Vous avez déjà rempli le questionnaire de santé. Il sera possible de le
                                            télécharger
                                            afin de le signer et le faire valider par l'association.</p>
                                    </div>
                                    <div class="col-5">
                                        <button id="healthQuestionnaireModificate" type="button"
                                                class="btn btn-primary">
                                            Modifier le questionnaire
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-3">
                <div class="card shadow-sm">
                    <h5 class="card-header">Autorisations :</h5>
                    <div class="card-body">
                        <div class="container-fluid">
                            <h6>Droits d'image :</h6>
                            <div class="row align-items-center ml-2">
                                {{ form_widget(form.imageRight) }} le club à prendre et à diffuser des
                                photos me
                                concernant pour enrichir
                                la photothèque et le site internet du club.
                                <small id="imageRightHelp" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Vous devez choisir parmi les deux
                                    propositions.
                                </small>
                                {{ form_errors(form.imageRight) }}
                            </div>
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="checkbox" id="acceptRules" name="acceptRules">
                                <label class="form-check-label" for="acceptRules">
                                    J'accepte le réglement intérieur de l'association. <a href=""
                                                                                          data-toggle="modal"
                                                                                          data-target="#exampleModal">Voir
                                        le réglement</a>
                                </label>
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Réglement intérieur</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>Les documents à fournir pour l’inscription sont les suivants : </h6>
                                            <ul>
                                                <li>Un certificat médical de non contre-indication à la pratique de la
                                                    gymnastique de moins de 3 mois (sauf pour les
                                                    renouvellements)**
                                                </li>
                                                <li>La fiche d’inscription dûment remplie</li>
                                                <li>Le règlement total de la cotisation (possibilité d’établir trois
                                                    chèques à débit différé)
                                                </li>
                                                <li>Le règlement du forfait d’engagement en compétitions (pour les
                                                    groupes
                                                    compétitifs et Teamgym)
                                                </li>
                                                <li>Envoyer une photo par mail au cep.gymnastique@gmail.com (en
                                                    précisant
                                                    les nom, prénom et le groupe)
                                                </li>
                                                <li>Le bulletin N°2 Allianz fourni par le club le jour de
                                                    l’inscription
                                                </li>
                                            </ul>
                                            <br/>
                                            <b>Séance d’essai : </b>
                                            <p>Chaque gymnaste a droit à une séance d’essai gratuite sous réserve de
                                                présentation d’un certificat médical. A l’issue
                                                de cette séance, le dossier devra impérativement être constitué.</p>
                                            <br/>
                                            <b>En cas d’abandon, aucun remboursement ne sera effectué.</b>
                                            <p> Pour
                                                information, les assurances partenaires de la FFGym proposent une
                                                assurance « Interruption Abonnement Sportif » (voir modalités sur le
                                                site de la FFGym)</p>
                                            <br/>
                                            <b>Aux parents ou responsables des adhérents mineurs :</b>
                                            <p>Les parents
                                                ou responsables des enfants doivent s’assurer de la présence des
                                                éducateurs du club et du déroulement effectif de l’entrainement avant de
                                                déposer leur enfant. Les parents doivent également
                                                récupérer leur enfant dans la salle dès la fin de l’entrainement. Le
                                                club décline toute responsabilité en cas d’accident en dehors des
                                                horaires d’entrainement. Toutes les informations à destination des
                                                membres du club ne sont pas données par voie postale. Elles sont
                                                transmises par affichage sur les panneaux réservés à cet effet dans la
                                                salle, par mail et sur le site internet : www.cep-gymnastique.com.</p>
                                            <br/>
                                            <b>Hygiène :</b>
                                            <p>Pour des raisons d’hygiène, les gymnastes doivent
                                                porter des chaussures (tongs, claquettes, chaussures de piscine, hors
                                                chaussons de gym) pour se déplacer dans les couloirs et dans les
                                                toilettes, et les retirer pour marcher sur les tapis de gymnastique.</p>
                                            <br/>
                                            <b>Périodes de congés scolaires :</b>
                                            <p>Les entrainements ne sont assurés
                                                que pendant les périodes scolaires et sont donc interrompus pendant
                                                les vacances scolaires. Des stages seront mis en place pendant les
                                                vacances scolaires. Tenues : Pour les compétitions, les gymnastes
                                                doivent avoir la tenue du club. Celui-ci se charge des commandes selon
                                                les tailles indiquées dans le formulaire de pré-inscription.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="checkbox" id="acceptRGPD" name="acceptRGPD">
                                <label class="form-check-label" for="acceptRGPD">
                                    En soumettant ce formulaire, j’accepte que les informations saisies soient utilisées
                                    dans le cadre de la
                                    demande de licence à CEP GYM Poitiers et à son organisation. Pour en savoir plus sur
                                    la
                                    loi
                                    RGPD,
                                    veuillez consulter <a
                                            href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees"
                                            target="_blank">la réglementation en ligne</a>
                                </label>
                            </div>
                            <div class="row justify-content-center mt-3 healthQuestionnaireEmpty">
                                <button type="submit" class="btn btn-success buttonSubmit">Confirmer l'inscription
                                    de
                                    l'adhérent
                                </button>
                            </div>
                            <div class="healthQuestionnaireValidated">
                                <div class="row justify-content-center mt-3">
                                    <button type="submit" class="btn btn-success buttonSubmit">Confirmer l'inscription
                                        de
                                        l'adhérent et télécharger votre questionnaire de santé.
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="registrationStep6" class="justify-content-center">
            <div class="container-fluid mt-3">
                <div class="card shadow-sm">
                    <h5 class="card-header">Questionnaire de santé : </h5>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row align-items-center justify-content-center">
                                <small id="healthQuestionnaireQuestionHelp" class="form-text helper"><span
                                            class="badge badge-danger">Erreur</span> Attention, pour valider le
                                    questionnaire, il faut que toutes les réponses soient remplies.
                                </small>
                            </div>
                            <p><b>Durant les douze derniers mois :</b></p>
                            <hr/>
                            <div class="row align-items-center pt-2">
                                <div class="col-9">
                                    {{ healthQuestionnaireQuestion1 }}
                                </div>
                                <div id="healthQuestionnaireQuestion" class="col-auto">
                                    {{ form_widget(form.healthQuestionnaire.hasMemberOfFamilyDiedHeartAttack) }}
                                    {{ form_errors(form.healthQuestionnaire.hasMemberOfFamilyDiedHeartAttack) }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row align-items-center mt-2">
                                <div class="col-9">
                                    {{ healthQuestionnaireQuestion2 }}
                                </div>
                                <div id="healthQuestionnaireQuestion" class="col-auto">
                                    {{ form_widget(form.healthQuestionnaire.hasPainChest) }}
                                    {{ form_errors(form.healthQuestionnaire.hasPainChest) }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row align-items-center mt-2">
                                <div class="col-9">
                                    {{ healthQuestionnaireQuestion3 }}
                                </div>
                                <div id="healthQuestionnaireQuestion" class="col-auto">
                                    {{ form_widget(form.healthQuestionnaire.hasAsthma) }}
                                    {{ form_errors(form.healthQuestionnaire.hasAsthma) }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row align-items-center mt-2">
                                <div class="col-9">
                                    {{ healthQuestionnaireQuestion4 }}
                                </div>
                                <div id="healthQuestionnaireQuestion" class="col-auto">
                                    {{ form_widget(form.healthQuestionnaire.hasLossOfConsciousness) }}
                                    {{ form_errors(form.healthQuestionnaire.hasLossOfConsciousness) }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row align-items-center mt-2">
                                <div class="col-9">
                                    {{ healthQuestionnaireQuestion5 }}
                                </div>
                                <div id="healthQuestionnaireQuestion" class="col-auto">
                                    {{ form_widget(form.healthQuestionnaire.hasResumptionOfSportWithoutDoctorConsent) }}
                                    {{ form_errors(form.healthQuestionnaire.hasResumptionOfSportWithoutDoctorConsent) }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row align-items-center mt-2">
                                <div class="col-9">
                                    {{ healthQuestionnaireQuestion6 }}
                                </div>
                                <div id="healthQuestionnaireQuestion" class="col-auto">
                                    {{ form_widget(form.healthQuestionnaire.hasMedicalTreatment) }}
                                    {{ form_errors(form.healthQuestionnaire.hasMedicalTreatment) }}
                                </div>
                            </div>
                            <p class="mt-5"><b>À ce jour : </b></p>
                            <hr/>
                            <div class="row align-items-center mt-2">
                                <div class="col-9">
                                    {{ healthQuestionnaireQuestion7 }}
                                </div>
                                <div id="healthQuestionnaireQuestion" class="col-auto">
                                    {{ form_widget(form.healthQuestionnaire.hasBoneProblem) }}
                                    {{ form_errors(form.healthQuestionnaire.hasBoneProblem) }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row align-items-center mt-2">
                                <div class="col-9">
                                    {{ healthQuestionnaireQuestion8 }}
                                </div>
                                <div id="healthQuestionnaireQuestion" class="col-auto">
                                    {{ form_widget(form.healthQuestionnaire.hasHealthProblem) }}
                                    {{ form_errors(form.healthQuestionnaire.hasHealthProblem) }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row align-items-center mt-2">
                                <div class="col-9">
                                    {{ healthQuestionnaireQuestion9 }}
                                </div>
                                <div id="healthQuestionnaireQuestion" class="col-auto">
                                    {{ form_widget(form.healthQuestionnaire.hasNeedMedicalAdvice) }}
                                    {{ form_errors(form.healthQuestionnaire.hasNeedMedicalAdvice) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-3 pb-2">
                <div class="row justify-content-between">
                    <div class="col">
                        <button id="validQuestionnaire" type="button" class="btn btn-success btn-block">Valider le
                            questionnaire
                        </button>
                    </div>
                    <div class="col">
                        <button id="cancelQuestionnaire" type="button" class="btn btn-danger btn-block">Annuler le
                            questionnaire
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttonBottom" class="row pt-3 pb-3">
            <div class="col-6">
                <button id="previousRegistration" type="button" class="btn btn-secondary btn-block">Précédent</button>
            </div>
            <div class="col-6">
                <button id="nextRegistration" type="button" class="btn btn-secondary btn-block">Suivant</button>
            </div>
            <input id="step" value="1" hidden>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}



    {% block javascripts %}
        {{ encore_entry_script_tags('date') }}
        <script>
            $(window).ready(function () {

                if (final()) {
                    $(".buttonSubmit").removeAttr("disabled");
                } else {
                    $(".buttonSubmit").attr("disabled", true);

                }

                if ($('#adherent_cityRep1').val() == null) {
                    $.ajax({
                        url: 'https://datanova.legroupe.laposte.fr/api/records/1.0/search/',
                        type: "POST",
                        dataType: "json",
                        data: {
                            "dataset": "laposte_hexasmal",
                            "refine.code_postal": $('#adherent_zipCodeRep1').val(),
                        },
                        success: function (data) {
                            $('#adherent_cityRep1 option').remove();
                            for (var i in data["records"]) {
                                commune = data["records"][i]["fields"]["nom_de_la_commune"];
                                $('#adherent_cityRep1').append(new Option(commune, commune));
                            }
                        }
                    });
                }

                if ($('#adherent_cityRep2').val() == null) {
                    $.ajax({
                        url: 'https://datanova.legroupe.laposte.fr/api/records/1.0/search/',
                        type: "POST",
                        dataType: "json",
                        data: {
                            "dataset": "laposte_hexasmal",
                            "refine.code_postal": $('#adherent_zipCodeRep2').val(),
                        },
                        success: function (data) {
                            $('#adherent_cityRep2 option').remove();
                            for (var i in data["records"]) {
                                commune = data["records"][i]["fields"]["nom_de_la_commune"];
                                $('#adherent_cityRep2').append(new Option(commune, commune));
                            }
                        }
                    });
                }

                $("#step").val(1);
                $('input[name=\'selection\']').prop('checked', false);
                if (final()) {
                    $("#buttonSubmit").removeAttr("disabled");
                } else {
                    $("#buttonSubmit").attr("disabled", true);

                }
            });

            var groupColumn = 2;

            $('#activitiesSecteurLoisir').DataTable({
                "columnDefs": [
                    {"visible": false, "targets": groupColumn}
                ],
                "displayLength": 10,
                "drawCallback": function () {
                    var api = this.api();
                    var rows = api.rows({page: 'current'}).nodes();
                    var last = null;

                    api.column(groupColumn, {page: 'current'}).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                },
                orderFixed: [2, 'asc'],
                "bInfo": false,
                "lengthChange": false,
                "language": {
                    "sProcessing": "Traitement en cours...",
                    "sSearch": "Rechercher&nbsp;:",
                    "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                    "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sPrevious": "Pr&eacute;c&eacute;dent",
                        "sNext": "Suivant",
                        "sLast": "Dernier"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    },
                    "select": {
                        "rows": {
                            _: "%d lignes séléctionnées",
                            0: "Aucune ligne séléctionnée",
                            1: "1 ligne séléctionnée"
                        }
                    }
                }
            });

            $('#activitiesSecteurCompetitif').DataTable({
                "lengthChange": false,
                "language": {
                    "sProcessing": "Traitement en cours...",
                    "sSearch": "Rechercher&nbsp;:",
                    "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                    "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sPrevious": "Pr&eacute;c&eacute;dent",
                        "sNext": "Suivant",
                        "sLast": "Dernier"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    },
                    "select": {
                        "rows": {
                            _: "%d lignes séléctionnées",
                            0: "Aucune ligne séléctionnée",
                            1: "1 ligne séléctionnée"
                        }
                    }
                }
            });

            $('#acceptRules, #acceptRGPD').on('change', function () {
                if (final()) {
                    $(".buttonSubmit").removeAttr("disabled");
                } else {
                    $(".buttonSubmit").attr("disabled", true);
                }
            });

            $('#nextRegistration').click(function () {
                var value = parseInt(document.getElementById('step').value);
                if (value < 5) {
                    if (stepChoice("step" + value)) {
                        if (value == 4) {
                            $("#nextRegistration").hide();
                        }
                        $("#previousRegistration").show();
                        $("helper").hide();
                        $("#registrationStep" + (value + 1)).show();
                        $("#registrationStep" + (value)).hide();
                        document.getElementById('step').value = value + 1;
                    }
                } else {
                    $("#nextRegistration").hide();
                }

                $('#example').DataTable();
            });

            $('#previousRegistration').click(function () {
                var value = parseInt(document.getElementById('step').value);
                if (value > 1) {
                    if (value == 2) {
                        $("#previousRegistration").hide();
                    }
                    $("#nextRegistration").show();
                    $("#registrationStep" + (value - 1)).show();
                    $("#registrationStep" + (value)).hide();
                    document.getElementById('step').value = value - 1;
                } else {
                    $("#previousRegistration").hide();
                }
            });


            $('#juge').on('change', function () {
                var val = $(this).is(':checked') ? $("#judgeDiv").show() : $("#judgeDiv").hide();
            });

            $('#volontaire').on('change', function () {
                var val = $(this).is(':checked') ? $("#volunteerDiv").show() : $("#volunteerDiv").hide();
            });

            $("input[name='selection']").on('change', function () {
                var $prix = 0;

                $.each($("input[name='selection']:checked"), function () {
                    var $id = $(this).val();
                    $prix = $prix + parseInt($("#price" + $id).text());
                });
                $("#prix").text($prix);
            });

            function stepChoice(step) {
                switch (step) {
                    case 'step1':
                        return step1();
                    case 'step2':
                        return true;
                    case 'step3':
                        return step3();
                    case 'step4':
                        return true;
                    default:
                        console.log('Sorry, we are out of ' + step + '.');
                }
            }

            function step1() {
                var bool = true;

                if (isValidationRadio('adherent[registrationType]')) {
                    $("#registrationTypeHelp").show();
                    bool = false;
                } else {
                    $("#registrationTypeHelp").hide();
                }

                if (isEmpty('adherent[firstName]')) {
                    $("#firstNameTypeHelp").show();
                    bool = false;
                } else {
                    $("#firstNameTypeHelp").hide();
                }

                if (isEmpty('adherent[lastName]')) {
                    $("#lastNameTypeHelp").show();
                    bool = false;
                } else {
                    $("#lastNameTypeHelp").hide();
                }

                return bool;
            }

            function step3() {
                var bool = true;

                (isEmpty('adherent[firstNameRep1]') ? ($("#firstNameRep1Help").show(), bool = false) : $("#firstNameRep1Help").hide());
                (isEmpty('adherent[lastNameRep1]') ? ($("#lastNameRep1Help").show(), bool = false) : $("#lastNameRep1Help").hide());


                if (isEmpty('adherent[emailRep1]') || isValidationEmail('adherent[emailRep1]')) {
                    $("#emailRep1Help").show();
                    bool = false;
                } else {
                    $("#emailRep1Help").hide();
                }

                if (isEmpty('adherent[professionRep1]')) {
                    $("#professionRep1Help").show();
                    bool = false;
                } else {
                    $("#professionRep1Help").hide();
                }

                if (isValidationList('#adherent_cityRep1')) {
                    $("#cityRep1Help").show();
                    bool = false;
                } else {
                    $("#cityRep1Help").hide();
                }

                if (isEmpty('adherent[addressRep1]')) {
                    $("#addressRep1Help").show();
                    bool = false;
                } else {
                    $("#addressRep1Help").hide();
                }

                if (isEmpty('adherent[zipCodeRep1]') || isValidationZipCode('adherent[zipCodeRep1]')) {
                    $("#zipCodeRep1Help").show();
                    bool = false;
                } else {
                    $("#zipCodeRep1Help").hide();
                }

                if (isEmpty('adherent[phoneRep1]') || isValidationPhoneNumber('adherent[phoneRep1]')) {
                    $("#phoneRep1Help").show();
                    bool = false;
                } else {
                    $("#phoneRep1Help").hide();
                }

                (isEmpty('adherent[emailRep2]') ? $("#emailRep2Help").hide() : ((isValidationEmail('adherent[emailRep2]')) ? ($("#emailRep2Help").show(), bool = false) : $("#emailRep2Help").hide()));
                (isEmpty('adherent[zipCodeRep2]') ? $("#zipCodeRep2Help").hide() : ((isValidationZipCode('adherent[zipCodeRep2]')) ? ($("#zipCodeRep2Help").show(), bool = false) : $("#zipCodeRep2Help").hide()));
                (isEmpty('adherent[phoneRep2]') ? $("#phoneRep2Help").hide() : ((isValidationPhoneNumber('adherent[phoneRep2]')) ? ($("#phoneRep2Help").show(), bool = false) : $("#phoneRep2Help").hide()));
                return bool;
            }

            function final() {
                var bool = true;
                if (isValidationRadio('acceptRules')) {
                    bool = false;
                }

                if (isValidationRadio('acceptRGPD')) {
                    bool = false;
                }

                return bool;
            }

            function isEmpty(nameInput) {
                return !$('input[name="' + nameInput + '"]').val();
            }

            function isValidationRadio(nameRadio) {
                return !$('input[name="' + nameRadio + '"]:checked').val();
            }

            function isValidationList(nameList) {
                var bool = true;
                $.each($(nameList + ' option:selected'), function () {
                    bool = false;
                });
                return bool;
            }

            function isValidationEmail(nameEmail) {
                var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
                if (pattern.test($('input[name="' + nameEmail + '"]').val())) {
                    return false;
                } else {
                    return true;
                }
            }

            function isValidationZipCode(nameZipCode) {
                var pattern = new RegExp(/^([0-9]{2}|(2A)|2B)[[0-9]{3}$/);
                if (pattern.test($('input[name="' + nameZipCode + '"]').val())) {
                    return false;
                } else {
                    return true;
                }
            }

            function isValidationPhoneNumber(nameZipCode) {
                var pattern = new RegExp(/^(?:(?:\+)33|0)\s*[1-9](?:[\s.-]*\d{2}){4}$/);
                if (pattern.test($('input[name="' + nameZipCode + '"]').val())) {
                    return false;
                } else {
                    return true;
                }
            }

            $('#adherent_zipCodeRep1').focusout(function () {
                $.ajax({
                    url: 'https://datanova.legroupe.laposte.fr/api/records/1.0/search/',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "dataset": "laposte_hexasmal",
                        "refine.code_postal": $('#adherent_zipCodeRep1').val(),
                    },
                    success: function (data) {
                        $('#adherent_cityRep1 option').remove();
                        for (var i in data["records"]) {
                            commune = data["records"][i]["fields"]["nom_de_la_commune"];
                            $('#adherent_cityRep1').append(new Option(commune, commune));
                        }
                    }
                })
            });

            $('#adherent_zipCodeRep2').focusout(function () {
                $.ajax({
                    url: 'https://datanova.legroupe.laposte.fr/api/records/1.0/search/',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "dataset": "laposte_hexasmal",
                        "refine.code_postal": $('#adherent_zipCodeRep2').val(),
                    },
                    success: function (data) {
                        $('#adherent_cityRep2 option').remove();
                        for (var i in data["records"]) {
                            commune = data["records"][i]["fields"]["nom_de_la_commune"];
                            $('#adherent_cityRep2').append(new Option(commune, commune));
                        }
                    }
                })
            });

            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

            $('#healthQuestionnaire').click(function () {
                $("#registrationStep6").show();
                $("#registrationStep5").hide();
                $("#buttonBottom").hide();
            });

            $('#healthQuestionnaireModificate').click(function () {
                $("#registrationStep6").show();
                $("#registrationStep5").hide();
                $("#buttonBottom").hide();
            });


            $('#cancelQuestionnaire').click(function () {
                $('div #healthQuestionnaireQuestion > div > div > input').each(function () {
                    $('input[name="' + $(this).attr('name') + '"]').prop('checked', false);
                });
                $("#registrationStep6").hide();
                $("#registrationStep5").show();
                $("#buttonBottom").show();
                $("#healthQuestionnaireQuestionHelp").hide();
                $(".healthQuestionnaireEmpty").show();
                $(".healthQuestionnaireValidated").hide();
            });

            $('#validQuestionnaire').click(function () {
                var bool = true;
                $('div #healthQuestionnaireQuestion > div > div > input').each(function () {
                    if (isValidationRadio($(this).attr('name'))) {
                        bool = false;
                    }
                    ;
                });
                if (bool) {
                    $("#registrationStep6").hide();
                    $("#registrationStep5").show();
                    $("#buttonBottom").show();
                    $("#healthQuestionnaireQuestionHelp").hide();
                    $(".healthQuestionnaireEmpty").hide();
                    $(".healthQuestionnaireValidated").show();
                } else {
                    window.scrollTo(0, 0);
                    $("#healthQuestionnaireQuestionHelp").show();
                }
            });
        </script>
    {% endblock %}





