<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{ path('home') }}">CEP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('registration') }}">Formulaire d'inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('account_update') }}">Mon compte</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_adherents') }}">Administration</a>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a class="btn btn-sm btn-danger" href="{{ path('security_deconnexion') }}">Déconnexion</a>
    </div>
</nav>
<div class="container-fluid">

    {% include('notifications/notifications.html.twig') %}

    {% block body %}{% endblock %}
</div>

{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('popup') }}
{% block javascripts %}{% endblock %}
</body>
</html>
