{% extends 'administration/layout_admin.html.twig' %}

{% block title %}
    Activité | {{ activity.name }}
    <input id="activityId" type="hidden" value="{{ activity.id }}">
{% endblock %}

{% block body %}
    <div class="text-right mb-4">
        <button class="btn btn-outline-dark" id="allEmails">Copier mails de tous les participants à cette activité
        </button>
        <a href="{{ path('admin_activities') }}" class="btn btn-warning">Retour</a>
    </div>

    {% for timeSlot in timeSlots %}
        <div class="card mb-4">
            <div class="card-header">
                <div class="d-flex flex-row">
                    <div class="w-100">
                        <strong>Créneau du {{ timeSlot.getFullTime }} </strong>
                    </div>
                    <div class="text-right w-100">
                        Nombre de particiants : <strong>{{ timeSlot.getAdherentsNumber }}</strong>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="container mb-3">
                    <p><strong>Ajouter un adhérent à ce créneau : </strong></p>
                    <form method="post" id="form{{ loop.index0 }}"
                          action={{ path('admin_activityAddAdherentToTimeSlot') }}>
                        <div class="row">
                            <div class="col-sm-10">
                                <select style="width: 100%" class="js-example-basic-multiple" name="states[]"
                                        multiple="multiple" hidden>
                                    {% for adherent in adherents %}
                                        {% if not timeSlot.contains(adherent) %}
                                            <option value="{{ adherent.id }}">{{ adherent.lastName }} {{ adherent.firstName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="hidden_framework" class="hidden_framework" value=""/>
                                <input type="hidden" name="timeSlot" id="timeSlotId" value="{{ timeSlot.id }}"/>
                                <input type="hidden" name="activity" id="activityId" value="{{ activity.id }}"/>
                            </div>
                            <div class="col-sm-2">
                                <input type="submit" name="submit" class="btn btn-sm btn-outline-success w-100"
                                       value="Ajouter"/>

                            </div>

                        </div>

                    </form>
                </div>
                <div class="container">
                    <p><strong>Adhérents particiants à ce créneau : </strong></p>

                    <table id="test" class="adherentsTimeSlot table table-striped table-bordered w-100"
                           role="grid"
                           aria-describedby="example_info">
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                aria-sort="ascending"
                                aria-label="lastName: activate to sort column descending">Nom
                            </th>
                            <th class="sorting_asc" tabindex="1" aria-controls="example" rowspan="1" colspan="1"
                                aria-sort="ascending"
                                aria-label="firstName: activate to sort column descending">Prénom
                            </th>
                            <th class="sorting_asc" tabindex="2" aria-controls="example" rowspan="1" colspan="1"
                                aria-sort="ascending"
                                aria-label="firstName: activate to sort column descending">Statut de l'inscription
                            </th>
                            <th class="sorting_asc" tabindex="3" aria-controls="example" rowspan="1" colspan="1"
                                aria-sort="ascending"
                                aria-label="firstName: activate to sort column descending">Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for adherent in timeSlot.getAdherents %}
                            {% if adherent.isDeleted == false %}
                                <tr role="row" class="odd">
                                    <td>
                                        {{ adherent.lastName }}
                                    </td>
                                    <td>
                                        {{ adherent.firstName }}
                                    </td>
                                    <td class="email">
                                        {{ adherent.emailRep1 }}
                                    </td>
                                    <td>
                                        <a href="{{ path('admin_activityDeleteAdherentFromTimeSlot', {activityId: activity.id, timeSlotId: timeSlot.id, adherentId: adherent.id}) }}"
                                           class="btn btn-sm btn-danger"> Supprimer </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>


            <div class="card-footer text-right">

                <button class="timeSlotAdherentsEmailsButton btn btn-outline-dark btn-sm"> Copier mails des participants
                    à ce créneau
                </button>

            </div>
        </div>

    {% endfor %}
{% endblock %}


{% block javascripts %}


    <script>
        $(document).ready(function () {
            $(".adherentsTimeSlot").each(function (index) {
                console.log($(this));
                $(this).DataTable({
                    language: window.datatable_french,
                    responsive: true,
                    bPaginate: true,
                    bLengthChange: false,
                    bFilter: true,
                    bInfo: false,
                    bAutoWidth: false,
                    pageLength: 4
                });
            });


            $(".js-example-basic-multiple").each(function (index) {
                $(this).select2().change(function (event) {
                    $(this).siblings(".hidden_framework").val($(this).val());
                });
                $(this).show();
            });


            $(".timeSlotAdherentsEmailsButton").each(function (index) {
                $(this).on('click', function () {
                    let allEmails = "";
                    $(this).closest(".card").find(".email").each(function () {
                        allEmails += $(this).text().trim() + ";";
                    });
                    copyTextToClipBoard(allEmails);

                });
            });

            $('#allEmails').on('click', function (event) {
                let allEmails = "";
                $(this).closest("main").find(".email").each(function () {
                    allEmails += $(this).text().trim() + ";";
                });
                copyTextToClipBoard(allEmails);
            });

            function copyTextToClipBoard(text) {
                navigator.clipboard.writeText(text).then(function () {
                    alert("Les emails sont dans votre presse papier.");
                }, function () {
                    alert('Vous ne pouvez pas copier les mails dans votre presse papier(clipboard-write exception)');
                });
            }
        });
    </script>
{% endblock %}
