{% extends 'administration/base.html.twig' %}

{% block title %}Activités détaillées{% endblock %}

{% block specification %}
    Gestion des détaillées des activités
{% endblock %}

{% block body %}
    <h4>Activité {{ activity.name }}</h4>

    <a href="#">
        Envoyer un mail à tous
    </a>
    <button id="allEmails">Envoyer un mail à tous</button>
    <button>toto</button>
    <hr/>
    <br> <br>

    <input id="timeSlotsSize" type="hidden" value="{{ timeSlots|length }}">
    <input id="sandbox"> <!-- Field to paste value in order to get copy them later in the clipboard -->

    {% for timeSlot in timeSlots %}

        <div class="row">
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{ timeSlot.id }}" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                <h6>{{ timeSlot.getFullTime }}</h6>
            </a>
            <span>  {{ timeSlot.getAdherentsNumber }} participants <a
                        href="#">Envoyer un mail aux participants</a></span>

        </div>
        <br/> <br/>

        <div class="collapse" id="collapseExample{{ timeSlot.id }}">
            <div class="card card-body">
                <div class="container">
                    <br/>
                    <h2 align="center">Adhérents déjà associés au créneau : </h2>

                    <table id="adherentsTimeSlot{{ timeSlot.id }}" class="table table-striped table-bordered"
                           style="width: 100%;"
                           role="grid"
                           aria-describedby="example_info">
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 119px;" aria-sort="ascending"
                                aria-label="lastName: activate to sort column descending">Nom
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 119px;" aria-sort="ascending"
                                aria-label="firstName: activate to sort column descending">Prénom
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 119px;" aria-sort="ascending"
                                aria-label="firstName: activate to sort column descending">Statut de l'inscription
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 119px;" aria-sort="ascending"
                                aria-label="firstName: activate to sort column descending">Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for adherent in timeSlot.getAdherents %}
                            {% if adherent.isDeleted == false %}
                                <tr role="row" class="odd">
                                    <td>
                                        {{ adherent.lastName }}
                                    </td>
                                    <td>
                                        {{ adherent.firstName }}
                                    </td>
                                    <td>
                                        {% if adherent.isRegisteredInFFG %}
                                            <span style="color:green">Inscription validée</span>
                                        {% else %}
                                            <span style="color:red">Inscription non validée</span>
                                        {% endif %}
                                    </td>

                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="#exampleModal{{ adherent.id }}">
                                            Supprimer
                                        </button>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">Nom</th>
                            <th rowspan="1" colspan="1">Prénom</th>
                            <th rowspan="1" colspan="1">Statut de l'inscription</th>
                            <th rowspan="1" colspan="1">Actions</th>
                        </tr>
                        </tfoot>
                    </table>

                    <br/>
                    <h6>Ajouter de nouveaux adhérents</h6>
                    <div class="row">

                        <form style="width:100%" method="post" id="form{{ loop.index0 }}" action={{ path('admin_activity') }}>
                            <select style="width: 100%" class="js-example-basic-multiple{{ loop.index0 }}"
                                    name="states[]"
                                    multiple="multiple">
                                {% for adherent in adherents %}
                                    {% if not timeSlot.contains(adherent) %}
                                        <option value="{{ adherent.id }}">{{ adherent.lastName }} {{ adherent.firstName }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input type="hidden" name="hidden_framework" class="hidden_framework"/>
                            <input type="hidden" name="timeSlot" id="timeSlotId" value="{{ timeSlot.id }}"/>
                            <input type="hidden" name="activity" id="activityId" value="{{ activity.id }}"/>
                            <input type="submit" name="submit" class="btn btn-info" value="Submit"/>
                        </form>
                        <br/>

                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}


{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css"
          rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function () {

            var timeSlotsSize = $('#timeSlotsSize').val();


            for (var i = 0; i < timeSlotsSize; i++) {
                $("#button" + i).on('click', function (event) {
                    console.log(event);
                    var id = event.currentTarget.attr('data-id');
                    console.log(id);
                });
            }


            /*for(var i = 0; i < timeSlotsSize; i++){
                var j = i;
                $("#button" + j).on('click',function(){
                        alert("Button " + j);
                    }
                )
            }*/


            for (var i = 0; i < timeSlotsSize; i++) {
                $('.js-example-basic-multiple' + i).select2();

                //$('#adherentsTimeSlot' + i).DataTable();
                {#(function () {
                    var ii = i;
                    $('.js-example-basic-multiple' + ii).select2();

                    $('.js-example-basic-multiple' + ii).change(function () {
                        $('#hidden_framework').val($('.js-example-basic-multiple' + ii).val());
                    });
                })
                //$("#button" + i).click( generate_handler( i ) );#}
            }


            function generateH(j) {
                return function (event) {
                    $('.hidden_framework').val($('.js-example-basic-multiple' + j).val());
                };
            }


            for (var i = 0; i <= timeSlotsSize; i++) {
                $('.js-example-basic-multiple' + i).change(generateH(i));
            }


            /*$('.js-example-basic-multiple').select2();

            $('.js-example-basic-multiple').change(function () {
                $('#hidden_framework').val($('.js-example-basic-multiple').val());
            });*/

            function generateAjaxHandler(j) {
                return function (event) {
                    //event.preventDefault();
                    var t = j;
                    if ($(".js-example-basic-multiple" + t).select2("val") != '') {
                        alert($('.hidden_framework').val());
                        var form_data = $("#form" + t).serialize();
                        $.ajax({
                            url: "{{ path('admin_activity') }}",
                            method: "POST",
                            data: form_data,
                            success: function (data) {
                                //console.log(data);
                                $('.hidden_framework').val('');
                                $('.selectpicker').selectpicker('val', '');
                            }
                        })
                    } else {
                        alert("Please select framework");
                        return false;
                    }
                }
            }

            {#for (var i = 0; i < timeSlotsSize; i++) {
                $('#form' + i).on('submit', generateAjaxHandler(i));
            }#}

            $('#allEmails').on('click', function (event) {
                alert("toto");
                event.preventDefault();
                $.ajax({
                    url: "{{ path('admin_activityCopyEmails') }}",
                    method: "POST",
                    data: {activityId:231},
                    dataType: "json",
                    success: function (data){
                        alert(data);
                        console.log(data);
                        $("#sandbox").val(data);
                        $("#sandbox").select();
                        // Copy text to clipboard
                        document.execCommand('copy');
                    }
                })
            });

            {#$("#treeButtonSearch").click(function(){
                path = $("#treeSort").val();
                $.ajax({
                    url:path,
                    method: "post",
                    dataType: "json"
                }).success(function(rep){
                    refreshTree();
                    makeTree(path);
                    //$('#jstree').html("BABAR");
                    console.log(rep);
                    //makeTree("{{ path('treePromotion') }}",null);
                });
            });#}

            {#$('#form').on('submit', function (event) {
                event.preventDefault();
                if ($(".js-example-basic-multiple").select2("val") != '') {
                    var form_data = $(this).serialize();
                    $.ajax({
                        url: "{{ path('admin_activity') }}",
                        method: "POST",
                        data: form_data,
                        success: function (data) {
                            //console.log(data);
                            $('#hidden_framework').val('');
                            $('.selectpicker').selectpicker('val', '');
                            alert(data);
                        }
                    })
                } else {
                    alert("Please select framework");
                    return false;
                }
            });#}
        });
    </script>
{% endblock %}
