{% extends 'administration/base.html.twig' %}
{% block title %}Activités{% endblock %}

{% block specification %}
    Gestion des activités
{% endblock %}

{% block body %}





        <div class="tab-pane fade show" id="content-recues" role="tabpanel" aria-labelledby="pills-recus">
            <table id="example2" class="table table-hover" style="width: 100%;" role="grid" aria-describedby="example_info">
                <div class="modal-footer">
                    <a  href="{{path('admin_activityAdd' )}}" class="btn btn-primary">Ajouter Activité</a>
                    <a  href="{{path('admin_categoryAdd' )}}" class="btn btn-danger">Ajouter Catégorie</a>
                </div>


                {% for category in categories %}
                 <thead>

                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 119px; color:red" aria-sort="ascending" aria-label="lastName: activate to sort column descending">{{category.name }}</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 119px;" aria-sort="ascending" aria-label="firstName: activate to sort column descending">Créneaux</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 119px;" aria-sort="ascending" aria-label="firstName: activate to sort column descending">Cotisation</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 119px;" aria-sort="ascending" aria-label="firstName: activate to sort column descending">Date Reprise</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 119px;" aria-sort="ascending" aria-label="firstName: activate to sort column descending">Actions</th>
                </tr>
                </thead>
                <tbody>


                {% for activity in category.activities %}
                        <tr role="row" class="odd"><td>
                                {{ activity.name }}
                            </td>


                            <td>
                                {% for slot in activity.timeSlot %}
                                    {{slot.getFullTime  }} <br>
                                {% endfor %}
                            </td>

                            <td>
                                {{ activity.price }} €

                            </td>

                            <td>
                                {{ activity.startDate|date('d-m-Y')  }}
                            </td>



                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1{{ activity.id }}">
                                    Voir plus
                                </button>

                                <!-- Button trigger modal -->
                                <a  href="{{path('admin_activityDelete', {id: category.id } )}}" class="btn btn-secondary">Supprimer</a>

                            </td>

                        </tr>
                {% endfor %}



                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


    <!-- Modals -->
    {% for category in categories %}
        <div class="modal fade" id="exampleModal{{category.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{category.id}}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel{{category.id}}">Fiche Catégorie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="alert alert-secondary" role="alert">
                                    <h6>INFOS GENERALE</h6>
                                    <div class="row">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">{{ category.name }}</th>

                                                <th scope="col">Créneaux</th>
                                                <th scope="col">Cotisation</th>
                                                <th scope="col">Date Reprise</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                {% for activity in category.activities %}
                                    {% if activity.category == category  %}
                                            <tr>
                                               <td>{{ activity.name }}</td>
                                                <td scope="row">
                                            {% for slot in activity.timeSlot   %}

                                                {{ slot.getFullTime}}
                                                <br>
                                            {% endfor %}
                                                </td>
                                                <td>{{ activity.price}}</td>
                                                <td>{{ activity.startDate|date('d-m-Y')}}</td>

                                            </tr>


                                    {% endif %}
                                    {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>

                                </div>


                        <div class="modal-footer">
                            <a  href="{{path('admin_categoryEdit', {id: category.id } )}}" class="btn btn-secondary">Modifier</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>

                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    {% endfor %}






    <!-- Modals -->
    {% for activity in activities %}
        <div class="modal fade" id="exampleModal1{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{activity.id}}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel{{activity.id}}">Fiche Activité</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="container-fluid">


                                <h6>NOM ACTIVITE :  {{activity.name}}</h6>


                                <hr/>

                                <div class="alert alert-secondary" role="alert">


                                        <h6>INFOS ACTIVITE</h6>
                                        <div class="alert alert-secondary" role="alert">
                                            <div class="row">
                                                <div class="col">
                                                     Catégorie: {{activity.category.name}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    Prix Activité : {{activity.price}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    Type Activité : {{activity.type}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    Date Début : {{activity.startDate|date('d-m-Y') }}
                                                </div>
                                            </div>
                                        </div>



                                    <hr/>
                                    <h6>INFOS CRENEAUX</h6>
                                    <div class="alert alert-secondary" role="alert">
                                     {% for slotTime in activity.timeSlot %}
                                        <div class="row">
                                            <div class="col">
                                                {{ slotTime.getFullTime }}
                                            </div>
                                        </div>
                                     {% endfor %}
                                    </div>

                                </div>




                                <div class="modal-footer">
                                    <a  href="{{path('admin_activityEdit', {id: activity.id } )}}" class="btn btn-secondary">Modifier</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}