{% extends 'administration/layout_admin.html.twig' %}

{% block title %}Activités{% endblock %}


{% block body %}

    <div class="row justify-content-end mb-4">
        <div class="col-auto text-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_activityAdd') }}" class="btn btn-outline-dark">Ajouter une activité</a>
                <a href="{{ path('admin_categories') }}" class="btn btn-outline-dark">Gérer les Catégories</a>
            {% endif %}

        </div>
    </div>



    <div class="tab-content" id="pills-tabContent">
        <div aria-labelledby="pills-all" class="tab-pane fade show active" id="content-all" role="tabpanel">
            <table aria-describedby="example_info" class="table table-striped table-bordered w-100" id="example"
                   role="grid">
                <thead>
                <tr role="row">
                    <th aria-controls="example" aria-label="lastName: activate to sort column descending"
                        aria-sort="ascending" class="sorting_asc" colspan="1" rowspan="1" tabindex="0">Activités
                    </th>
                    <th aria-controls="example" aria-label="lastName: activate to sort column descending"
                        aria-sort="ascending" class="sorting_asc" colspan="1" rowspan="1" tabindex="0">Créneaux
                    </th>
                    <th aria-controls="example" aria-label="lastName: activate to sort column descending"
                        aria-sort="ascending" class="sorting_asc" colspan="1" rowspan="1" tabindex="0">Cotisation
                    </th>
                    <th aria-controls="example" aria-label="lastName: activate to sort column descending"
                        aria-sort="ascending" class="sorting_asc" colspan="1" rowspan="1" tabindex="0">Date de début
                    </th>
                    <th aria-controls="example" aria-label="lastName: activate to sort column descending"
                        aria-sort="ascending" class="sorting_asc" colspan="1" rowspan="1" tabindex="0">Cotisation
                    </th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th aria-controls="example" aria-label="lastName: activate to sort column descending"
                            aria-sort="ascending" class="sorting_asc" colspan="1" rowspan="1" tabindex="0">Actions
                        </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    {% for activity in category.activities %}
                        <tr class="odd" role="row">
                            <td>{{ activity.name }}</td>
                            <td>
                                {% for slot in activity.timeSlot %}
                                    {{ slot.getFullTime }}
                                    <br>
                                {% endfor %}
                            </td>
                            <td>
                                <font class="text-uppercase">
                                    <span><strong>{{ category.name }}</strong></span>
                                </font>
                            </td>
                            <td>{{ activity.startDate|date('d-m-Y') }}</td>
                            <td>
                                {{ activity.price }}
                                €
                            </td>
                            <!-- Button trigger modal -->
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-primary"
                                       href="{{ path('admin_activityDetails', {id: activity.id}) }}"
                                       data-toggle="tooltip" data-placement="top" title="Details de l'activité">
                                        <i class="far fa-calendar-alt"></i>
                                    </a>

                                    <a class="btn btn-warning"
                                       href="{{ path('admin_activityEdit', {id: activity.id}) }}" data-toggle="tooltip"
                                       data-placement="top" title="Modifier l'activité ou ajouter un créneau">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <span data-toggle="modal" data-target="#modalDeleteActivity{{ activity.id }}">
                            <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                                    title="Supprimer l'activité">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </span>

                                </td>
                            {% endif %}
                        </tr>
                        <div class="modal fade" id="modalDeleteActivity{{ activity.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="modalDeleteActivityLabel{{ activity.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalDeleteActivityLabel{{ activity.id }}">
                                            Attention</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer cet activitée ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                data-toggle="modal">
                                            Non
                                        </button>
                                        <a href="{{ path('admin_activityDelete', {id: activity.id}) }}" role="button"
                                           class="btn btn-primary">Oui</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">


        $(document).ready(function () {

            let groupColumn = 2;
            let table = $('#example').DataTable({
                "columnDefs": [
                    {
                        "visible": false,
                        "targets": groupColumn
                    }
                ],
                "order": [
                    [groupColumn, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    let api = this.api();
                    let rows = api.rows({page: 'current'}).nodes();
                    let last = null;

                    api.column(groupColumn, {page: 'current'}).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');

                            last = group;
                        }
                    });
                }
            });

            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function () {
                let currentOrder = table.order()[0];
                if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
                    table.order([groupColumn, 'desc']).draw();
                } else {
                    table.order([groupColumn, 'asc']).draw();
                }
            });
        });</script>{% endblock %}
