{% extends 'administration/layout_admin.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="mobile-menu">
    <div>
        <a class="" href="{{ path('admin_adherents') }}">
            Adhérents
        </a>
    </div>
    <div>
        <a class="" href="{{ path('admin_activities') }}">
            Activités
        </a>
    </div>
    <div>
        <a class="" href="{{ path('admin_timeSlots') }}">
            Evénements
        </a>
    </div>
    <div>
        <a class="" href="{{ path('admin_events') }}">
            Crénaux
        </a>
    </div>
    <div>
        <a class="" href="{{ path('admin_accounts') }}">
            Comptes
        </a>
    </div>
    <div>
        <a class="" href="{{ path('admin_adherent_competiteurs') }}">
            Plugin
        </a>
    </div>

    <div>
        <a class="" href="{{ path("home")}}">
            Retour sur le site
        </a>
    </div>

</div>
<p>Bienvenue sur l'interface d'administration.</p>
{% endblock %}
