<div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            {{ form_start(form, {'attr': {'id': 'addEventManager'}}) }}
            <div class="modal-body">
                <h4>Ajouter une personne</h4>
                <div id="errorAddEventManager">

                </div>
                <div>
                    <label>Personne : </label>
                    {{ form_widget(form.account, {'full_name': 'person'}) }}
                    {{ form_errors(form.account) }}
                </div>

                <div>
                    <label>Date de début : </label>
                    {{ form_widget(form.startDate, {'full_name': 'start'}) }}
                    {{ form_errors(form.startDate) }}
                </div>

                <div>
                    <label>Date de fin : </label>
                    {{ form_widget(form.endDate, {'full_name': 'end'}) }}
                    {{ form_errors(form.endDate) }}
                </div>

                <div>
                    <label>Poste : </label>
                    {{ form_widget(form.job, {'full_name': 'job'}) }}
                    {{ form_errors(form.job) }}
                </div>

                <div>
                    <label>Description du poste : </label>
                    {{ form_widget(form.description, {'full_name': 'description'}) }}
                    {{ form_errors(form.description) }}
                </div>
                {{ form_widget(form.idEvent, {'full_name': 'idEvent'}) }}
            </div>
            <div class="modal-footer">
                {{ form_widget(form.submit) }}
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>