{% extends 'administration/layout_admin.html.twig' %}

{% block title %}Adherents{% endblock %}

{% block specification %}
    Gestion des évènements
{% endblock %}

{% block body %}
    <div class="row justify-content-center mb-4">
        <a href="{{ path('admin_event_manager_index', {id: app.request.get('id')}) }}" class="btn btn-primary">
            Visualisation Globale
        </a>
    </div>

    <div class="row justify-content-left mb-4">
        <div class="col-1">
            <button class="btn btn-primary ml-2" type="button" data-toggle="collapse" data-target="#addEvent"
                    aria-expanded="false" aria-controls="addEvent">
                Filtres
            </button>
        </div>
        <div class="col-auto" hidden>
            <button class="btn btn-primary">
                Ajouter un évènement
            </button>
        </div>
    </div>

    <div class="collapse pb-4" id="addEvent">
        <div class="card card-body">
            <div class="container-fluid">
                <h4>Postes</h4>
                <div class="checkboxJob">
                    {% for job in jobs %}
                        <input class="job" type="checkbox" data-id="{{ job.id }}"
                               value="{{ job.name }}">{{ job.name }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <table id="eventManagers" class="table table-striped table-bordered w-100">
        <thead>
        <tr>
            <th>Personne</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Poste</th>
            <th>Description</th>
            <th hidden>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for em in eventManagers %}
            <tr>
                <td>{{ em.account.firstName }}</td>
                <td>le {{ em.startDate | date("d/m/Y") }} à {{ em.startDate | date("H:i") }}</td>
                <td>le {{ em.endDate | date("d/m/Y") }} à {{ em.endDate | date("H:i") }}</td>
                <td>{{ em.job }}</td>
                <td>{{ em.description }}</td>
                <td hidden>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#modal-view-event-desc{{ em.id }}">
                        <i class="far fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-warning" data-toggle="modal"
                            data-target="#modal-edit-event">
                        <i class="far fa-edit"></i>
                    </button>
                    <button id="deleteEvent" type="button" class="btn btn-danger"
                            value="{{ path('admin_event_manager_delete') }}">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Personne</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Poste</th>
            <th>Description</th>
            <th hidden>Action</th>
        </tr>
        </tfoot>
    </table>

    {% for em in eventManagers %}
        {% include('administration/eventManage/viewEventFilter.html.twig') %}
    {% endfor %}



{% endblock %}

{% block javascripts %}
    <script>
        // Active datatable
        $(document).ready(function () {
            $('#eventManagers').DataTable();
        });

        // Filter datatable
        $(document).ready(function () {
            $('.job').click(function () {
                let val = "";
                $('.checkboxJob > input').each(function () {
                    if ($(this).is(":checked")) {
                        val += $(this).val() + "|";
                    }
                });

                val = val.substring(0, (val).length - 1);

                let check = ".job[data-id='" + $(this).attr("data-id") + "']";
                $('#eventManagers').DataTable().column(3).search(val, true, false).draw();
            });
        });

    </script>
{% endblock %}