{% extends 'administration/base.html.twig' %}

{% block title %}Adherents{% endblock %}

{% block specification %}
    Gestion des évènements
{% endblock %}

{% block body %}
    <!-- Form add personn on the event (Modal)-->
    {% include('administration/eventManage/add.html.twig') %}

    <!-- Data get by the JS code for write events in the calendar -->

    <input id="idEvent" type="hidden" value="{{ idEvent }}">
    <input id="token" type="hidden" value="{{ token }}">
    <input id="url" type="hidden" value="{{ path('admin_event_manager_events') }}">


    <!-- Describe event (Modal)-->
    {% include('administration/eventManage/describeModal.html.twig') %}
    {% include('administration/eventManage/updateModal.html.twig') %}


    <!-- Print calendar -->
    <div id='calendar'></div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('datetime') }}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}


