{% extends 'base.html.twig' %}

{% block body %}

    <!-- View events where the user has send his participation -->
    <div class="row justify-content-center pb-4">
        <button id="btnMyEvent" class="btn btn-primary" type="button" data-toggle="collapse"
                data-target="#modalViewEventFollow"
                aria-expanded="false" aria-controls="addEvent">
            Voir mes évènements
        </button>
    </div>

    <div class="collapse pt-4 pb-4" id="modalViewEventFollow">
        <!-- DataTable event follow -->
        <table class="events table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Adresse</th>
                <th>Description</th>
                <th>Fichier(s) associé(s)</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for eventFollow in eventsFollow %}
                <tr>
                    <td>{{ eventFollow.name }}</td>
                    <td>le {{ eventFollow.startDate | date("d/m/Y H:i") }}</td>
                    <td>le {{ eventFollow.endDate | date("d/m/Y H:i") }}</td>
                    <td>{{ eventFollow.address }}</td>
                    <td>{{ eventFollow.description }}</td>
                    <td>
                        {% for file in eventFollow.documents %}
                            <div class="row">
                                <a target="_blank" rel="noopener noreferrer"
                                   href="{{ asset('uploads/' ~ file.id) }}">{{ file.name }}</a>
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalViewEvent{{ eventFollow.id }}">
                            <i class="fas fa-eye"></i>
                        </button>
                        <a class="btn btn-success" href="{{ path('event_participate_infos', {id:eventFollow.id}) }}"><i
                                    class="far fa-calendar-alt"></i></a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Nom</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Adresse</th>
                <th>Description</th>
                <th>Fichier(s) associé(s)</th>
                <th>Action</th>
            </tr>
            </tfoot>
        </table>
    </div>

    <!-- DataTable Events -->
    <div id="allEvent">
        <table  class="events table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Adresse</th>
                <th>Description</th>
                <th>Fichier(s) associé(s)</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>le {{ event.startDate | date("d/m/Y H:i") }}</td>
                    <td>le {{ event.endDate | date("d/m/Y H:i") }}</td>
                    <td>{{ event.address }}</td>
                    <td>{{ event.description }}</td>
                    <td>
                        {% for file in event.documents %}
                            <div class="row">
                                <a target="_blank" rel="noopener noreferrer"
                                   href="{{ asset('uploads/' ~ file.id) }}">{{ file.name }}</a>
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalViewEvent{{ event.id }}">
                            <i class="fas fa-eye"></i>
                        </button>
                        <a class="btn btn-success" href="{{ path('event_participate', {id:event.id}) }}"><i
                                    class="fas fa-vote-yea"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Nom</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Adresse</th>
                <th>Description</th>
                <th>Fichier(s) associé(s)</th>
                <th>Action</th>
            </tr>
            </tfoot>
        </table>
    </div>

    {% for event in events %}
        {% include('events/modalViewEvent.html.twig') %}
    {% endfor %}
    {% include('events/modalMaps.html.twig') %}

{% endblock %}

    {% block javascripts %}
        <script>
            // Active datatable
            $(document).ready(function () {
                $('.events').DataTable();
            });

            // Manage the event button
            $('#btnMyEvent').click(function () {
                $('#allEvent').toggle();
                if ($('#allEvent').is(":hidden")) {
                    $('#btnMyEvent').text('Voir tous les évènements');
                } else {
                    $('#btnMyEvent').text('Voir mes évènements');
                }
            })
        </script>
    {% endblock %}