{% extends 'base.html.twig' %}

{% block title %}Hello SiteRegisterController!{% endblock %}

{% block body %}


    <!-- DataTable Events -->
    <div id="allEvent">
        <table id="events" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Adresse</th>
            </tr>
            </thead>
            <tbody>
            {% for event in eventManagers %}
                <tr>
                    <td>le {{ event.startDate | date("d/m/Y") }} à {{ event.startDate | date("H:i") }}</td>
                    <td>le {{ event.endDate | date("d/m/Y") }} à {{ event.endDate | date("H:i") }}</td>
                    <td>{{ event.job }}</td>
                    <td>{{ event.place }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Nom</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Adresse</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}