<div class="row mt-3">
    <h3>Évènement : </h3>
</div>
{{ form_start(form) }}
<div class="row mt-3">
    <div class="col-2">
        <label>Nom : </label>
    </div>
    <div class="col-auto">
        {{ form_widget(form.name) }}
    </div>
    <div class="row ml-1">
        {{ form_errors(form.name) }}
    </div>
</div>

<div class="row mt-3">
    <div class="col-2">
        <label>Date de début : </label>
    </div>
    <div class="col-auto">
        {{ form_widget(form.startDate) }}
    </div>
    <div class="row ml-1">
        {{ form_errors(form.startDate) }}
    </div>
</div>

<div class="row mt-3">
    <div class="col-2">
        <label>Date de fin : </label>
    </div>
    <div class="col-auto">
        {{ form_widget(form.endDate) }}
    </div>
    <div class="row ml-1">
        {{ form_errors(form.endDate) }}
    </div>
</div>

<div class="row mt-3">
    <div class="col-2">
        <label>Adresse : </label>
    </div>
    <div class="col-auto">
        {{ form_widget(form.address) }}
    </div>
    <div class="row ml-1">
        {{ form_errors(form.address) }}
    </div>
</div>

<div class="row mt-3">
    <div class="col-2">
        <label>Description : </label>
    </div>
    <div class="col-auto">
        {{ form_widget(form.description) }}
    </div>
    <div class="row ml-1">
        {{ form_errors(form.description) }}
    </div>
</div>


<div class="row mt-3">
    <h3>Organisation : </h3>
</div>
<div class="row mt-3">
    <div class="col-2">
        <label>Postes : </label>
    </div>
    <div class="col-auto">
        {{ form_widget(form.jobs) }}
    </div>
    <div class="col-auto">
        <span data-target="#modal-add-job" data-toggle="modal">
            <a class="text-success" id="addJob" data-placement="right" data-toggle="tooltip" title="Ajouter un poste"><i
                        class="fas fa-plus-circle fa-2x"></i></a>
        </span>
    </div>
    <div class="row ml-1">
        {{ form_errors(form.jobs) }}
    </div>
</div>

<div class="row mt-3">
    <h3>Informations : </h3>
</div>
{% if files is defined and files is not null %}
    <div class="row mt-3">
        <div class="col-2">
            <label>Fichiers existants : </label>
        </div>

        <div class="col-auto">
            {% for file in files %}
                <div class="fileContainer row mb-1" data-id="{{ file.id }}" data-test="{{ file.name }}">
                    <div class="col-8">
                        <p>{{ file.name }}</p>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-danger delDoc" data-id="{{ file.id }}"
                                data-url="{{ path('document_add_admin_event') }}">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="row mt-3">
    <div class="col-2">
        <label>Ajout de fichiers : </label>
    </div>

    <div class="col-auto">
        {{ form_widget(form.documents, {'full_name': 'documents'}) }}
    </div>
    <div class="row ml-1">
        {{ form_errors(form.documents) }}
    </div>
</div>

{{ form_widget(form.submit) }}
            {{ form_end(form) }}


<div id="modal-add-job" class="modal modal-top fade calendar-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="jobForm" action="{{ path('job_add') }}" method="post">
                <div class="modal-body">
                    <h4>Ajouter un poste</h4>
                    <div id="errorAddJob">

                    </div>
                    <div>
                        <label>Nom du poste : </label>
                        <input id="jobName" class="form-control mr-1" type="text" name="jobName">
                    </div>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="ajouter">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
