{% extends 'administration/layout_admin.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier l'adhérent{% endblock %}

{% block body %}
    <style>
        .custom-file-input:lang(en) ~ .custom-file-label::after {
            content: "Ouvrir";
        }
    </style>

    <div class="text-right mb-4">
        <a href="{{ path('admin_adherents') }}" class="btn btn-warning">Retour</a>
    </div>

    <div class="row">
        {{ form_start(form) }}
        <div class="form-group row">
            <div class="col-sm-12 row">
                <label class="col-sm-12 col-form-label"> Certificat médical :</label>
                {% if adherent.medicalCertificateFile is null %}
                    <div class="col-sm-12">
                        {{ form_widget(form.medicalCertificateFile) }}
                    </div>

                {% else %}
                    <div class="col-sm-3">
                        <a target="_blank" rel="noopener noreferrer"
                           href="{{ asset('uploads/' ~ adherent.medicalCertificateFile.id) }}" class="btn btn-success"
                           download="{{ adherent.medicalCertificateFile.name }}">Télécharger le document</a>
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.medicalCertificateFile) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 row">
                <label class="col-sm-12 col-form-label">Bulletin N°2 Allianz :</label>
                {% if adherent.bulletinN2AllianzFile is null %}
                    <div class="col-sm-12">
                        {{ form_widget(form.bulletinN2AllianzFile) }}
                    </div>

                {% else %}
                    <div class="col-sm-3">
                        <a target="_blank" rel="noopener noreferrer"
                           href="{{ asset('uploads/' ~ adherent.bulletinN2AllianzFile.id) }}" class="btn btn-success"
                           download="{{ adherent.bulletinN2AllianzFile.name }}">Télécharger le document</a>
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.bulletinN2AllianzFile) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 row">
                <label class="col-sm-12 col-form-label">Questionnaire de santé :</label>
                {% if adherent.healthQuestionnaireFile is null %}
                    <div class="col-sm-12">
                        {{ form_widget(form.healthQuestionnaireFile) }}
                    </div>

                {% else %}
                    <div class="col-sm-3">
                        <a href="{{ path('account_healthQuestionnairePDF', {id: adherent.id}) }}" class="btn btn-success">Télécharger le document</a>
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.healthQuestionnaireFile) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <p><strong>INFORMATIONS FOURNIES PAR L'ADHERENT</strong></p>
        <div class="form-group row">
            <div class="col-sm-6 row">
                <label class="col-sm-5 col-form-label">Type d'inscription :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.registrationType) }}
                </div>
            </div>
            <div class="col-sm-6 row">
                <label class="col-sm-5 col-form-label">Etat d'inscription :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.status) }}
                </div>
            </div>

            <div class="col-sm-6 row">
                <label class="col-sm-3 col-form-label">Nom :</label>
                <div class="col-sm-9">
                    {{ form_widget(form.lastName) }}
                </div>
            </div>
            <div class="col-sm-6 row">
                <label class="col-sm-3 col-form-label">Prenom :</label>
                <div class="col-sm-9">
                    {{ form_widget(form.firstName) }}
                </div>
            </div>
            <div class="col-sm-6 row">
                <label class="col-sm-3 col-form-label">Sexe :</label>
                <div class="col-sm-9">
                    {{ form_widget(form.sex) }}
                </div>
            </div>
            <div class="col-sm-6 row">
                <label class="col-sm-3 col-form-label">Date de naissance :</label>
                <div class="col-sm-9">
                    {{ form_widget(form.birthDate) }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 row">
                <p class="col-sm-12"><strong>Représentant légal 1 ou adhérent (si majeur) :</strong></p>
                <label class="col-sm-5 col-form-label">Nom :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.lastNameRep1) }}
                </div>

                <label class="col-sm-5 col-form-label">Prenom :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.firstNameRep1) }}
                </div>

                <label class="col-sm-5 col-form-label">Email :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.emailRep1) }}
                </div>

                <label class="col-sm-5 col-form-label">Téléphone :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.phoneRep1) }}
                </div>

                <label class="col-sm-5 col-form-label">Code postal :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.zipCodeRep1) }}
                </div>

                <label class="col-sm-5 col-form-label">Ville :</label>
                <select id="admin_adherent_cityRep1" name="admin_adherent_cityRep1" class="form-control col-sm-7">
                    {% if adherent.cityRep1 is defined and adherent.cityRep1 is not null %}
                        <option value={{ adherent.cityRep1 }} selected>{{ adherent.cityRep1 }}</option>
                    {% endif %}
                </select>

                <label class="col-sm-5 col-form-label">Adresse :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.addressRep1) }}
                </div>

                <label class="col-sm-5 col-form-label">Profession :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.professionRep1) }}
                </div>


            </div>
            <div class="col-sm-6 row">
                <p class="col-sm-12"><strong> Représentant légal 2 :</strong></p>
                <label class="col-sm-5 col-form-label">Nom :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.lastNameRep2) }}
                </div>

                <label class="col-sm-5 col-form-label">Prenom :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.firstNameRep2) }}
                </div>

                <label class="col-sm-5 col-form-label">Email :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.emailRep2) }}
                </div>

                <label class="col-sm-5 col-form-label">Téléphone :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.phoneRep2) }}
                </div>

                <label class="col-sm-5 col-form-label">Code postal :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.zipCodeRep2) }}
                </div>

                <label class="col-sm-5 col-form-label">Ville :</label>
                <select id="admin_adherent_cityRep2" name="admin_adherent_cityRep2" class="form-control col-sm-7">
                    {% if adherent.cityRep1 is defined and adherent.cityRep1 is not null %}
                        <option value={{ adherent.cityRep2 }} selected>{{ adherent.cityRep2 }}</option>
                    {% endif %}
                </select>

                <label class="col-sm-5 col-form-label">Adresse :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.addressRep2) }}
                </div>

                <label class="col-sm-5 col-form-label">Profession :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.professionRep2) }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 row">
                <label class="col-sm-4 col-form-label">Je suis un juge GAF :</label>
                <div class="col-sm-2">
                    {{ form_widget(form.isGAFJudge) }}
                </div>
                <label class="col-sm-4 col-form-label">de niveau :</label>
                <div class="col-sm-2">
                    {{ form_widget(form.GAFJudgeLevel) }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 row">
                <label class="col-sm-4 col-form-label">Je suis un juge GAF :</label>
                <div class="col-sm-2">
                    {{ form_widget(form.isGAMJudge) }}
                </div>
                <label class="col-sm-4 col-form-label">de niveau :</label>
                <div class="col-sm-2">
                    {{ form_widget(form.GAMJudgeLevel) }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 row">
                <label class="col-sm-4 col-form-label">Je suis un juge GAF :</label>
                <div class="col-sm-2">
                    {{ form_widget(form.isTeamGYMJudge) }}
                </div>
                <label class="col-sm-4 col-form-label">de niveau :</label>
                <div class="col-sm-2">
                    {{ form_widget(form.teamGYMJudgeLevel) }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6 row">
                <label class="col-sm-5 col-form-label">Je souhaite devenir un juge :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.wantsAJudgeTraining) }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 row">
                <label class="col-sm-5 col-form-label">Aide à l'entraînement :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.volunteerForTrainingHelp) }}
                </div>
            </div>
            <div class="col-sm-6 row">
                <label class="col-sm-5 col-form-label">Aide à la vie du club :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.volunteerForClubLife) }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 row">
                <label class="col-sm-5 col-form-label">Moyen de règlement :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.paymentType) }}
                </div>
            </div>
            <div class="col-sm-6 row">
                <label class="col-sm-5 col-form-label">Droit à l'image :</label>
                <div class="col-sm-7">
                    {{ form_widget(form.imageRight) }}
                </div>
            </div>
        </div>
        <button class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('#admin_adherent_zipCodeRep1').focusout(function () {
            $.ajax({
                url: 'https://datanova.legroupe.laposte.fr/api/records/1.0/search/',
                type: "POST",
                dataType: "json",
                data: {
                    "dataset": "laposte_hexasmal",
                    "refine.code_postal": $('#admin_adherent_zipCodeRep1').val(),
                },
                success: function (data) {
                    $('#admin_adherent_cityRep1 option').remove();
                    for (let i in data["records"]) {
                        commune = data["records"][i]["fields"]["nom_de_la_commune"];
                        $('#admin_adherent_cityRep1').append(new Option(commune, commune));
                    }
                }
            })
        });
        $('#admin_adherent_zipCodeRep2').focusout(function () {
            $.ajax({
                url: 'https://datanova.legroupe.laposte.fr/api/records/1.0/search/',
                type: "POST",
                dataType: "json",
                data: {
                    "dataset": "laposte_hexasmal",
                    "refine.code_postal": $('#admin_adherent_zipCodeRep2').val(),
                },
                success: function (data) {
                    $('#admin_adherent_cityRep2 option').remove();
                    for (let i in data["records"]) {
                        commune = data["records"][i]["fields"]["nom_de_la_commune"];
                        $('#admin_adherent_cityRep2').append(new Option(commune, commune));
                    }
                }
            })
        });
    </script>
{% endblock %}