{% extends 'administration/layout_admin.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Adherents{% endblock %}

{% block specification %}
    Mise à jour de l'adhérent
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <h6> ADMINISTRATION </h6>

    <div class="row">
        <div class="form-group">
            <div class="col">
                <label for="">Certificat médical ou attestation </label>
                {% if adherent.medicalCertificate is null %}
                    {{ form_widget(form.medicalCertificate) }}
                {% else %}
                    <div class="col">
                        <a target="_blank" rel="noopener noreferrer"
                           href="{{ asset('uploads/' ~ adherent.medicalCertificate) }}" class="btn btn-success">PDF</a>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#medicalCertificate" aria-expanded="false" aria-controls="collapseExample">
                        Modifier
                    </button>
                    <div class="collapse" id="medicalCertificate">
                        {{ form_widget(form.medicalCertificate) }}
                    </div>
                {% endif %}
            </div>

        </div>
        <div class="form-group">
            <div class="col">
                <label for="">Bulletin N°2 Allianz </label>
                {% if adherent.bulletinN2Allianz is null %}
                    {{ form_widget(form.bulletinN2Allianz) }}
                {% else %}
                    <div class="col">
                        <a target="_blank" rel="noopener noreferrer"
                           href="{{ asset('uploads/' ~ adherent.bulletinN2Allianz) }}" class="btn btn-success">PDF</a>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#bulletinN2Allianz" aria-expanded="false" aria-controls="collapseExample">
                        Modifier
                    </button>
                    <div class="collapse" id="bulletinN2Allianz">
                        {{ form_widget(form.bulletinN2Allianz) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label for="">Questionnaire de santé </label>
                {% if adherent.healthQuestionnaire is null %}
                    {{ form_widget(form.healthQuestionnaire) }}
                {% else %}
                    <div class="col">
                        <a target="_blank" rel="noopener noreferrer"
                           href="{{ asset('uploads/' ~ adherent.healthQuestionnaire) }}" class="btn btn-success">PDF</a>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#healthQuestionnaire" aria-expanded="false" aria-controls="collapseExample">
                        Modifier
                    </button>
                    <div class="collapse" id="healthQuestionnaire">
                        {{ form_widget(form.healthQuestionnaire) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label for="">Dossier traité par </label>
            </div>
            <div class="col">
                <label for="">Engagement compétition </label>
            </div>
            <div class="col">
                <label for="">Règlement cotisation </label>
                {{ form_widget(form.paymentFeesArePaid) }}
            </div>
        </div>
    </div>
    <hr/>

    <h6> INFORMATIONS FOURNIES PAR L'ADHERENT </h6>

    <h6> Type d'inscription </h6>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    {{ form_widget(form.registrationType) }}
                </div>
            </div>
        </div>
    </div>

    <h6> Etat d'inscription </h6>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    {{ form_widget(form.status) }}
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <h6> Civilité </h6>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <label for="">Nom </label>
                    {{ form_widget(form.lastName) }}
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <label for="">Prénom </label>
                    {{ form_widget(form.firstName) }}
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    {{ form_row(form.sex) }}
                </div>
            </div>

        </div>
    </div>

    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <label for="">Date de naissance </label>
                    {{ form_widget(form.birthDate) }}
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <h6> Représentant légal ou adhérent </h6>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <label for="">Nom </label>
                    {{ form_widget(form.lastNameRep1) }}
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <label for="">Prénom </label>
                    {{ form_widget(form.firstNameRep1) }}
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <label for="">Adresse mail </label>
                    {{ form_widget(form.emailRep1) }}
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <label for="">Code postal </label>
                    {{ form_widget(form.zipCodeRep1) }}
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <label for="">Ville </label>
                    <select id="admin_adherent_cityRep1" name="admin_adherent_cityRep1" class="form-control">
                        {% if cityRep1 is defined and cityRep1 is not null %}
                            <option value={{ cityRep1 }} selected>{{ cityRep1 }}</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <label for="">Adresse </label>
                    {{ form_widget(form.addressRep1) }}
                </div>
            </div>

        </div>
    </div>

    <br/>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <label for="">Profession </label>
                    {{ form_widget(form.professionRep1) }}
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <label for="">Numéro de téléphone </label>
                    {{ form_widget(form.phoneRep1) }}
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <h6> Représentant légal 2 </h6>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <label for="">Nom </label>
                    {{ form_widget(form.lastNameRep2) }}
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <label for="">Prénom </label>
                    {{ form_widget(form.firstNameRep2) }}
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <label for="">Adresse mail </label>
                    {{ form_widget(form.emailRep2) }}
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <label for="">Code postal </label>
                    {{ form_widget(form.zipCodeRep2) }}
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <label for="">Ville </label>
                    <select id="admin_adherent_cityRep2" name="admin_adherent_cityRep2" class="form-control">
                        {% if cityRep2 is defined and cityRep2 is not null %}
                            <option value={{ cityRep2 }} selected>{{ cityRep2 }}</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <label for="">Adresse </label>
                    {{ form_widget(form.addressRep2) }}
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <label for="">Profession </label>
                    {{ form_widget(form.professionRep2) }}
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <label for="">Numéro de téléphone </label>
                    {{ form_widget(form.phoneRep2) }}
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <h6> Juge </h6>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <label for="">Juge </label>
                    {{ form_widget(form.wantsAJudgeTraining) }}
                </div>
            </div>
        </div>
    </div>
    </div>

    <br/>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    {{ form_widget(form.isGAFJudge) }}
                </div>
                <br/>
                <div class="row">
                    <label for="">Niveau </label>
                    {{ form_widget(form.GAFJudgeLevel) }}
                </div>
            </div>

            <div class="col-3">
                <div class="row">
                    {{ form_widget(form.isGAMJudge) }}
                </div>
                <br/>
                <div class="row">
                    <label for="">Niveau </label>
                    {{ form_widget(form.GAMJudgeLevel) }}
                </div>
            </div>

            <div class="col-3">
                <div class="row">
                    {{ form_widget(form.isTeamGYMJudge) }}
                </div>
                <br/>
                <div class="row">
                    <label for="">Niveau </label>
                    {{ form_widget(form.teamGYMJudgeLevel) }}
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <h6> Bénévolat </h6>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <label for="">Aide à l'entraînement </label>
                    {{ form_widget(form.volunteerForTrainingHelp) }}
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <label for="">Aide à la vie du club </label>
                    {{ form_widget(form.volunteerForClubLife) }}
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <h6> Moyen de règlement </h6>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    {{ form_widget(form.paymentType) }}
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <h6> Droit à l'image </h6>
    <div class="col">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    {{ form_widget(form.imageRight) }}
                </div>
            </div>
        </div>
    </div>

    <br/>
    {{ form_widget(form) }}
    <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>
        $('#admin_adherent_zipCodeRep1').focusout( function(){
            $.ajax({
                url:'https://datanova.legroupe.laposte.fr/api/records/1.0/search/',
                type: "POST",
                dataType: "json",
                data: {
                    "dataset": "laposte_hexasmal",
                    "refine.code_postal": $('#admin_adherent_zipCodeRep1').val(),
                },
                success: function (data)
                {
                    $('#admin_adherent_cityRep1 option').remove();
                    for (var i in data["records"]) {
                        commune = data["records"][i]["fields"]["nom_de_la_commune"];
                        $('#admin_adherent_cityRep1').append(new Option(commune, commune));
                    }
                }
            })
        });

        $('#admin_adherent_zipCodeRep2').focusout( function(){
            $.ajax({
                url:'https://datanova.legroupe.laposte.fr/api/records/1.0/search/',
                type: "POST",
                dataType: "json",
                data: {
                    "dataset": "laposte_hexasmal",
                    "refine.code_postal": $('#admin_adherent_zipCodeRep2').val(),
                },
                success: function (data)
                {
                    $('#admin_adherent_cityRep2 option').remove();
                    for (var i in data["records"]) {
                        commune = data["records"][i]["fields"]["nom_de_la_commune"];
                        $('#admin_adherent_cityRep2').append(new Option(commune, commune));
                    }
                }
            })
        });
    </script>
{% endblock %}
 