{% extends 'administration/layout_admin.html.twig' %}

{% block title %}Adherents
{% endblock %}

{% block body %}

    <div class="row justify-content-end mb-4">
        <div class="col-sm-3 text-right">
            <button class="btn btn-outline-dark" id="filter">Filtrer</button>
        </div>
        <div class="col-sm-3 ">
            <select class="form-control" id="statusAdherent" name="statusAdherent">
                <option selected value="">Tous les adhérens</option>
                <option value="validée">Adhérents validés</option>
                <option value="Inscription en attente">En attente</option>
                <option value="document(s)">En manque de document(s)</option>
                <option value="paiement">En manque de paiement</option>
            </select>
        </div>
    </div>

    <table aria-describedby="example_info" class="table table-striped table-bordered w-100" id="allAdherentsTable"
           role="grid">
        <thead>
        <tr role="row">
            <th aria-controls="example" aria-label="lastName: activate to sort column descending" aria-sort="ascending"
                class="sorting_asc" colspan="1" rowspan="1" tabindex="0">Nom/Prénom
            </th>
            <th aria-controls="example" aria-label="firstName: activate to sort column descending" aria-sort="ascending"
                class="sorting_asc" colspan="1" rowspan="1" tabindex="2">Date d'inscription
            </th>
            <th aria-controls="example" aria-label="firstName: activate to sort column descending" aria-sort="ascending"
                class="sorting_asc" colspan="1" rowspan="1" tabindex="3">Statut de l'inscription
            </th>
            <th aria-controls="example" aria-label="firstName: activate to sort column descending" aria-sort="ascending"
                class="sorting_asc" colspan="1" rowspan="1" tabindex="4">Inscription dans GestGym
            </th>
            <th aria-controls="example" aria-label="firstName: activate to sort column descending" aria-sort="ascending"
                class="sorting_asc" colspan="1" rowspan="1" tabindex="5">Voir détails
            </th>
        </tr>
        </thead>
        <tbody>
        {% for adherent in adherents %}
            {% if adherent.isDeleted == false %}
                <tr class="odd" role="row">
                    <td>
                        {{ adherent.lastName }}
                        {{ adherent.firstName }}
                    </td>
                    <td>
                        {{ adherent.registrationDate|date('d-m-Y') }}
                    </td>
                    <td>
                            <span data-target="#changeStatut{{ adherent.id }}" data-toggle="modal">
                                <a data-placement="top" data-toggle="tooltip" href="#" title="Changer le statut">
                                    {% if adherent.status == "EN ATTENTE" %}
                                        <span class="text-danger">Inscription en attente</span>
                                    {% elseif adherent.status == "EN MANQUE DE DOCUMENT" %}
                                        <span class="text-secondary">En manque de document(s)</span>
                                    {% elseif adherent.status == "EN MANQUE DE PAIEMENT" %}
                                        <span class="text-info">En attente paiement</span>
                                    {% elseif adherent.status == "EN MANQUE DE DOCUMENT ET PAIEMENT" %}
                                        <span class="text-warning">En manque de document(s) et en attente de paiement</span>
                                    {% elseif adherent.status == "VALIDE" %}
                                        <span class="text-success">Inscription validée</span>
                                    {% endif %}
                                </a>
                            </span>
                    </td>
                    <td>
                            <span data-target="#changeStatutGESTGYM{{ adherent.id }}" data-toggle="modal">
                                <a data-placement="top" data-toggle="tooltip" href="#" title="Changer le statut">
                                    {% if adherent.isRegisteredInGestGym %}
                                        <span class="text-success">Effectuée</span>
                                    {% else %}
                                        <span class="text-danger">Non effectuée</span>
                                    {% endif %}
                                </a>
                            </span>

                    </td>
                    <td>
                        <a class="btn btn-success" href="{{ path('admin_adherentsPDF', {id: adherent.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Télécharger le PDF de l'adhérent">
                            <i class="far fa-file-pdf"></i>
                        </a>
                        <a class="btn btn-warning" href="{{ path('admin_adherentsEdit', {id: adherent.id}) }}"
                           data-toggle="tooltip" data-placement="top" title="Modifier l'adhérent">
                            <i class="far fa-edit"></i>
                        </a>

                        <span data-target="#detailAdherent{{ adherent.id }}" data-toggle="modal">
                                <button class="btn btn-primary" data-placement="top" data-toggle="tooltip"
                                        title="Voir plus" type="button">
                                    <i class="far fa-eye"></i>
                                </button>
                        </span>
                        <span data-target="#modalDeleteAdherent{{ adherent.id }}" data-toggle="modal">
                            <button class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                                    title="Supprimer l'adhérent">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </span>

                    </td>
                </tr>
                <!-- MODAL changement de statut -->
                {% include('administration/adherents/modalChangeStatus.html.twig') %}

                <!-- MODAL changement de statut GESTGYM -->
                {% include('administration/adherents/modalChangeStatusGestGym.html.twig') %}

                <!-- MODAL delete adhrerent -->
                {% include('administration/adherents/modalDeleteAdherent.html.twig') %}

                <!-- MODAL details adhrerent -->
                {% include('administration/adherents/modalDetailAdherent.html.twig') %}

            {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>

        <tr>
            <th colspan="1" rowspan="1">Nom/Prénom</th>
            <th colspan="1" rowspan="1">Date d'inscription</th>
            <th colspan="1" rowspan="1">Statut de l'inscription</th>
            <th colspan="1" rowspan="1">Inscription dans GestGym</th>
            <th colspan="1" rowspan="1">Voir détails</th>
        </tr>
        </tfoot>
    </table>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#allAdherentsTable').DataTable({
                language: window.datatable_french,
                responsive: true,
                columnDefs: [
                    {
                        responsivePriority: 10001,
                        targets: 3
                    }, {
                        responsivePriority: 1,
                        targets: 4
                    }, {
                        responsivePriority: 1,
                        targets: 0
                    },
                ]
            });

            $('#filter').on('click', function () {
                table.column(2).search($("#statusAdherent option:selected").val()).draw();
            });

        });
    </script>
{% endblock %}