{% extends 'administration/basePDF.html.twig' %}
{% block body %}
    <div class="center">
        <h1>Récapitulatif de l'adhérent - <u>{{ adherent.firstName }} {{ adherent.lastName }}</u></h1>
    </div>

    <p>Type d'inscription : <b>{{ adherent.registrationType }}</b></p>
    <p>Date du dépôt du dossier : <b>{{ adherent.registrationDate|date('d-m-Y') }}</b></p>


    <p class="blue"><b>INFORMATIONS GÉNÉRALES</b></p>
    <hr class="blue">
    <p>Nom : <b>{{ adherent.lastName }}</b></p>
    <p>Prénom : <b>{{ adherent.firstName }}</b></p>
    <p>Sexe : <b>{{ adherent.sex }}</b></p>
    <p>Date de naissance : <b>{{ adherent.birthDate|date('d-m-Y') }}</b></p>

    <p class="blue"><b>REPRÉSENTANT LÉGAUX</b></p>
    <hr class="blue">
    <div class="alert alert-secondary" role="alert">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Adhérent ou représentant légal 1</th>
                <th>Représentant légal 2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Nom/Prénom</td>
                <td>{{ adherent.firstNameRep1 }} {{ adherent.lastNameRep1 }}</td>
                <td>{{ adherent.firstNameRep2 }} {{ adherent.lastNameRep2 }}</td>
            </tr>
            <tr>
                <td>Profession</td>
                <td>{{ adherent.professionRep1 }}</td>
                <td>{{ adherent.professionRep2 }}</td>
            </tr>
            <tr>
                <td>Adresse</td>
                <td>{{ adherent.addressRep1 }}</td>
                <td>{{ adherent.addressRep2 }}</td>
            </tr>
            <tr>
                <td>Code postal/Ville</td>
                <td>{{ adherent.zipCodeRep1 }} {{ adherent.cityRep1 }}</td>
                <td>{{ adherent.zipCodeRep2 }} {{ adherent.cityRep2 }}</td>
            </tr>
            <tr>
                <td>Téléphone</td>
                <td>{{ adherent.phoneRep1 }}</td>
                <td>{{ adherent.phoneRep2 }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ adherent.emailRep1 }}</td>
                <td>{{ adherent.emailRep2 }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <p class="blue"><b>JUGES</b></p>
    <hr class="blue">

    <p>Juge GAF :
        {% if adherent.isGAFJudge %}
            <span class="green">OUI</span> /
            Niveau : {{ adherent.GAFJudgeLevel }}
        {% else %}
            <span class="red">NON</span>
        {% endif %}</p>

    <p>Juge GAM :
        {% if adherent.isGAMJudge %}
            <span class="green">OUI</span> /
            Niveau : {{ adherent.GAMJudgeLevel }}
        {% else %}
            <span class="red">NON</span>
        {% endif %}</p>

    <p>Juge TEAMGYM :
        {% if adherent.isTEAMGYMJudge %}
            <span class="green">OUI</span> /
            Niveau : {{ adherent.TEAMGYMJudgeLevel }}
        {% else %}
            <span class="red">NON</span>
        {% endif %}</p>


    <p>Je souhaite suivre une formation de juge :
        {% if adherent.wantsAJudgeTraining %}
            <span class="green">OUI</span>
        {% else %}
            <span class="red">NON</span>
        {% endif %}</p>

    <p class="blue"><b>BÉNÉVOLES</b></p>
    <hr class="blue">
    <p>Aide à l'entraînement : <b>{{ adherent.volunteerForTrainingHelp }}</b></p>

    <p>Aide à la vie du club : <b>{{ adherent.volunteerForClubLife }}</b></p>

    <p class="blue"><b>ADHÉSION</b></p>
    <hr class="blue">
    <p>Montant du réglement : <b>{{ adherent.registrationCost }} €</b></p>

    <p>Mode de règlement : <b>{{ adherent.paymentType }}</b></p>

    <p class="blue"><b>DROIT À L'IMAGE</b></p>
    <hr class="blue">
    <p>J'autorise le club à prendre et à diffuser des photos me concernant pour enrichir la
        photothèque et le site internet du club :
        {% if adherent.imageRight %}
            <span class="green">OUI</span>
        {% else %}
            <span class="red">NON</span>
        {% endif %}
    </p>

    <div class="page_break"></div>

    <div class="center">
        <h1>ACTIVITÉS</h1>
    </div>

    <p class="blue"><b>ACTIVITÉS CHOISIES PAR L'ADHÉRENT</b></p>
    <hr class="blue">
    <table>
        <thead>
        <tr>
            <th>Catégories</th>
            <th>Activités</th>
            <th>Créneaux</th>
        </tr>
        </thead>
        <tbody>
        {% for creneau in adherent.timeSlots %}
            <tr>
                <td>{{ creneau.activity.category.name }}</td>
                <td>{{ creneau.activity.name }}</td>
                <td>
                    {{ creneau.getFullTime() }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user.getRoles()[0] == "ROLE_SUPER_ADMIN" or app.user.getRoles()[0] == "ROLE_ADMIN" %}
        <div class="page_break"></div>
        <div class="center">
            <h1>PARTIE RÉSERVÉE À L'ADMINISTRATION</h1>
        </div>
        <p class="blue"><b>STATUT</b></p>
        <hr class="blue">
        <p>Statut actuel : <b>{{ adherent.status }}</b></p>
        <p> Saisie dans Gest'Gym :
            {% if adherent.isRegisteredInGestGym %}
                <span class="green">OUI</span>
            {% else %}
                <span class="red">NON</span>
            {% endif %}
        </p>

        <p class="blue"><b>DOCUMENTS FOURNIS</b></p>
        <hr class="blue">
        <p>Certificat médical :
            {% if adherent.hasMedicalCertificate %}
                <span class="green">OUI</span>
            {% else %}
                <span class="red">NON</span>
            {% endif %}</p>
        <p>Bulletin N°2 Allianz :
            {% if adherent.hasBulletinN2Allianz %}
                <span class="green">OUI</span>
            {% else %}
                <span class="red">NON</span>
            {% endif %}</p>
        <p>Questionnaire de santé :
            {% if adherent.hasHealthQuestionnaire %}
                <span class="green">OUI</span>
            {% else %}
                <span class="red">NON</span>
            {% endif %}</p>

        <p class="blue"><b>AUTRES INFORMATIONS</b></p>
        <hr class="blue">
        <p>Licencié dans un autre club :
            {% if adherent.isRegisteredInGestGym %}
                <span class="green">OUI</span>
            {% else %}
                <span class="red">NON</span>
            {% endif %}
        </p>
    {% endif %}
{% endblock %}