<div aria-hidden="true" aria-labelledby="detailAdherentLabel{{ adherent.id }}" class="modal fade"
     id="detailAdherent{{ adherent.id }}" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailAdherentLabel{{ adherent.id }}">Fiche adhérent</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p>TYPE D'INSCRIPTION :
                        {{ adherent.registrationType }}
                    </p>
                    <p>DATE DE DEPOT DU DOSSIER :
                        {{ adherent.registrationDate|date('d-m-Y') }}</p>
                    <p>
                        Etat de l'inscription :
                        {% if adherent.status =="VALIDE" %}
                            <span class="text-success">Inscription validée</span>
                        {% else %}
                            <span class="text-danger">Inscription non validée</span>
                        {% endif %}
                    </p>
                    <p>
                        Inscription dans GestGym :
                        {% if adherent.isRegisteredInGestGym %}
                            <span class="text-success">Effectuée</span>
                        {% else %}
                            <span class="text-danger">Non effectuée</span>
                        {% endif %}
                    </p>
                    <div class="alert alert-secondary" role="alert">
                        <div class="row">
                            <div class="col">
                                Nom :
                                {{ adherent.lastName }}
                            </div>
                            <div class="col">
                                Prénom :
                                {{ adherent.firstName }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Sexe :
                                {{ adherent.sex }}
                            </div>
                            <div class="col">
                                Date de naissance :
                                {{ adherent.birthDate|date('d-m-Y') }}
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-secondary" role="alert">
                        <div class="row">
                            <div class="col">
                                <p>
                                    <strong>Adhérent ou représentant légal 1</strong>
                                </p>
                                <p>{{ adherent.firstNameRep1 }}
                                    {{ adherent.lastNameRep1 }}</p>
                                <p>{{ adherent.professionRep1 }}</p>
                                <p>{{ adherent.addressRep1 }}</p>
                                <p>{{ adherent.zipCodeRep1 }}
                                    {{ adherent.cityRep1 }}</p>
                                <p>{{ adherent.phoneRep1 }}</p>
                                <p>{{ adherent.emailRep1 }}</p>
                            </div>
                            <div class="col">
                                <p>
                                    <strong>Adhérent ou représentant légal 2</strong>
                                </p>
                                {% if adherent.firstNameRep2 %}
                                    <p>{{ adherent.firstNameRep2 }}
                                        {{ adherent.lastNameRep2 }}</p>
                                    <p>{{ adherent.professionRep2 }}</p>
                                    <p>{{ adherent.addressRep2 }}</p>
                                    <p>{{ adherent.zipCodeRep2 }}
                                        {{ adherent.cityRep2 }}</p>
                                    <p>{{ adherent.phoneRep2 }}</p>
                                    <p>{{ adherent.emailRep2 }}</p>
                                {% else %}
                                    <p>Pas de représentant légal 2</p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <p>
                        <strong>JUGES</strong>
                    </p>
                    <div class="alert alert-secondary" role="alert">
                        <div class="row">
                            <div class="col">
                                <p>Juge GAF :
                                    {% if adherent.isGAFJudge %}
                                        <i class="fas fa-check text-success"></i>
                                        Niveau :
                                        {{ adherent.GAFJudgeLevel }}
                                    {% else %}
                                        <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col">
                                <p>Juge GAM
                                    {% if adherent.isGAMJudge %}
                                        <i class="fas fa-check text-success"></i>
                                        Niveau :
                                        {{ adherent.GAMJudgeLevel }}
                                    {% else %}
                                        <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col">
                                <p>Juge TEAMGYM
                                    {% if adherent.isTEAMGYMJudge %}
                                        <i class="fas fa-check text-success"></i>
                                        Niveau :
                                        {{ adherent.TEAMGYMJudgeLevel }}
                                    {% else %}
                                        <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Je souhaite suivre une formation de juge :
                                    {% if adherent.wantsAJudgeTraining %}
                                        <i class="fas fa-check text-success"></i>
                                    {% else %}
                                        <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <p>
                        <strong>BENEVOLES</strong>
                    </p>
                    <div class="alert alert-secondary" role="alert">
                        <div class="row">
                            <div class="col">
                                <p>Aide à l'entraînement :
                                    {{ adherent.volunteerForTrainingHelp }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Aide à la vie du club :
                                    {{ adherent.volunteerForClubLife }}</p>
                            </div>
                        </div>
                    </div>
                    <p>
                        <strong>MONTANT DE LA COTISATION :
                            <span class="text-danger">{{ adherent.registrationCost }}
                                €</span>
                        </strong>
                    </p>
                    <div class="alert alert-secondary" role="alert">
                        <div class="row">
                            <div class="col">
                                Mode de règlement :
                                {{ adherent.paymentType }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Engagement compétition :
                            </div>
                        </div>
                    </div>

                    <p>
                        <strong>DROIT A L'IMAGE</strong>
                    </p>
                    <div class="alert alert-secondary" role="alert">
                        <div class="row">
                            <div class="col">
                                J'autorise le club à prendre et à diffuser des photos me concernant pour
                                enrichir la
                                photothèque et le site internet du club :
                                {% if adherent.imageRight %}
                                    <i class="fas fa-check text-success"></i>
                                {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <p>
                        <strong>PARTIE RESERVE A L'ADMINISTRATION</strong>
                    </p>
                    <div class="alert alert-secondary" role="alert">
                        <div class="row">
                            <div class="col-4">
                                Bulletin N°2 Allianz :
                            </div>
                            <div class="col-2">
                                {% if adherent.bulletinN2AllianzFile %}
                                    <i class="fas fa-check text-success"></i>
                                {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Questionnaire de santé :
                            </div>
                            <div class="col-2">
                                {% if adherent.healthQuestionnaireFile %}
                                    <i class="fas fa-check text-success"></i>
                                {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Saisie dans Gest'Gym :
                            </div>
                            <div class="col-2">
                                {% if adherent.isRegisteredInGestGym %}
                                    <i class="fas fa-check text-success"></i>
                                {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Fermer</button>
            </div>
        </div>
    </div>
</div>